{% load static stellatags %}
<form method="get" action="{% url 'advanced-search' %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h6 class="modal-title">Advanced Search</h6>
                
            </div>
            <div class="modal-body">
                <table style="width:100%">
                    {{ advancedSearchForm.as_table }}
                </table>
                              
                <button class="btn btn-block btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>