{% load static %}
<select required name="institution">
    <option value='0'>Select School</option>
    {% for c in institution %}
    <option value="{{c.id}}">{{ c.name }}</option>
    {% endfor %}    
</select>
