{% load stellatags %}
<div class="item">
    <div class="col-xs-6 col-md-4 col-lg-3">
        {% with l.listingimages_set.all|first as image %}
        <div class="card-simple" style="background-image: url('{{ image.image.url }}')">
            <div class="card-simple-background">
                <div class="item-id" style="display:none;">{{ l.id }}</div>
                <a href="{% url 'listing-detail' l.id %}">
                    <div class="card-simple-content">
                        <p></p>
                    </div><!-- /.card-simple-content -->
                </a>
                <div class="card-simple-actions">
                    <a href="{% url 'amend-watch' l.id %}" id="watch_{{request.user.id}}_{{l.id}}" class="fa {% if request.user in l.watchers.all %}fa-heart{% else %}fa-heart-o{% endif %}"></a>
                </div><!-- /.card-simple-actions -->
                

                {% if l|is_featured %}<div class="card-simple-label">Featured</div>{% endif %}
                <div class="card-simple-price">$<span class="price">{{l.price|floatformat:2}}</span></div>
                
            </div><!-- /.card-simple-background -->
        </div><!-- /.card-simple -->
        <a href="{% url 'listing-detail' l.id %}"><h2 class="center">{{ l.name }}</h2></a>
        {% endwith %}
    </div><!-- /.col-* -->
</div>