{% load static %}

<div id="left-menu">
    <ul class="no-bullets">
        {% if user.userprofile.verified %}
        <li><a href="{% url 'messages_inbox' %}">Inbox</a></li>
        {% endif %}
        <li><a href="{% url 'watch-list' %}">Watch List</a></li>
        {% if user.userprofile.verified %}
        <li><a href="{% url 'my-listing' user.id %}">Listings</a></li>
        <li><a href="{% url 'add-listing' %}">Post</a></li>
        {% endif %}
        <li><a href="{% url 'browse' 0 0 0 %}">Browse</a></li>
    </ul>
</div>