{% load static stellatags %}


<div id="left-search-menu">
    <ul class="ul-browse">
        {% for c1 in categories %}
            <li><a href="{% url 'browse' c1.id 0 0 %}">{{c1.name}}</a></li>
            {% if c1.id == cat1_id %}
            <ul>
                {% for c2 in cat2 %}
                <li><a href="{% url 'browse' c1.id c2.id 0 %}">{{c2.name}}</a></li>
                {% if c2.id == cat2_id %}
                    <ul>
                        {% for c3 in cat3 %}
                        <li><a href="{% url 'browse' c1.id c2.id c3.id %}">{{c3.name}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% block scripts %}

{% endblock %}