{% load static %}


<div id="left-search-menu">
    <form method="get" action="{% url 'advanced-search' %}">
        {% csrf_token %}
        <table>
        {{form.as_table}}

        </table>
        <button class="btn btn-block btn-primary" type="submit" style="width:90%">Search</button>
    </form>
</div>

{% block scripts %}

{% endblock %}