<div class="item">
    {% with l.listingimages_set.all|first as image %}
    <div class="card-simple" style="background-image: url('{{ image.image.url }}')">
        <div class="card-simple-background">
            <a href="{% url 'listing-detail' l.id %}">
                <div class="card-simple-content">
                    <h2>{{ l.nothing }}</h2>
                </div><!-- /.card-simple-content -->
            </a>
            <div class="card-simple-actions">                
                <a href="{% url 'amend-watch' l.id %}" id="watch_{{request.user.id}}_{{l.id}}" class="fa {% if request.user in l.watchers.all %}fa-heart{% else %}fa-heart-o{% endif %}"></a>
            </div><!-- /.card-simple-actions -->
        </div><!-- /.card-simple-background -->
    </div><!-- /.card-simple -->
    <table>
        <tr>
            <td>
                <h4><a href="{% url 'listing-detail' l.id %}">{{ l.name }}</a></h4>
            </td>
            <td class="right">
                <h5>$<span class="price">{{l.price|floatformat:2}}</span></h5>
            </td>
        </tr>
    </table>
    {% endwith %}
    
</div>
