{% load static i18n %}
<!-- Password Change Modal -->
<div aria-hidden="true" aria-labelledby="passwordChangeModalLabel" role="dialog" tabindex="-2" id="passwordChangeModal" class="modal fade">
	<form method="post" action="{% url 'change_password' %}">
      	{% csrf_token %}
            <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                              <h5 class="modal-title">Change Password</h5>
                        </div>
                        <div class="modal-body">
                              {{ passwordForm.as_p }}      
                        </div>
                        <div class="modal-footer">
                              <button class="btn btn-primary" type="submit">Submit</button>
                        </div>	
			</div>
		</div>
	</form>
</div>
<!-- modal -->