<div class="boxed-content">
    <!--
    <select class="btn btn-primary" id="sortSelection" onchange="sortItems();">
        <option>Select Order</option>
        <option value=1>Newest to Oldest</option>
        <option value=2>Oldest to Newest</option>
        <option value=3>Lowest to Highest Price</option>
        <option value=4>Highest to Lowest Price</option>
    </select>
    -->

<!--
    <button id="newestBtn" class="btn btn-primary">Newest to Oldest</button>
    <button id="oldestBtn" class="btn btn-primary">Oldest to Newest</button> 
    <button id="lowestBtn" class="btn btn-primary">Lowest to Highest Price</button>
    <button id="highestBtn" class="btn btn-primary">Highest to Lowest Price</button>
-->
    <a href="?sort_key=newest" class="btn btn-primary">Newest to Oldest</a>
    <a href="?sort_key=oldest" class="btn btn-primary">Oldest to Newest</a>
    <a href="?sort_key=cheapest" class="btn btn-primary">Lowest to Highest Price</a>
    <a href="?sort_key=costliest" class="btn btn-primary">Highest to Lowest Price</a>
</div>