.btn {
    border: 0px;
    border-radius: 0px;
    padding: 9px 15px;
    position: relative;
    transition: background-color .15s linear;

    &:after {
        background-color: rgba(black, .15);
        bottom: 0px;
        content: '';
        display: block;
        height: 2px;
        left: 0px;
        position: absolute;
        width: 100%;
    }
}

.btn-primary {
    background-color: $color-primary;
    display: inline-block;
    padding: 9px 15px;
    transition: background-color .15s linear;

    &:active, &:focus, &:hover {
        background-color: darken($color-primary, 5%) !important;
        box-shadow: none !important;
        outline: 0px !important;
        text-decoration: none;
    }
}

.btn-danger {
    background-color: $color-danger;
    display: inline-block;
    padding: 9px 15px;
    transition: background-color .15s linear;

    &:active, &:focus, &:hover {
        background-color: darken($color-danger, 5%) !important;
        box-shadow: none !important;
        outline: 0px !important;
        text-decoration: none;
    }
}

.btn-secondary {
    background-color: $color-secondary;
    color: #fff;
    display: inline-block;
    padding: 9px 15px;
    transition: background-color .15s linear;

    &:active, &:focus, &:hover {
        background-color: darken($color-secondary, 5%) !important;
        box-shadow: none !important;
        color: #fff;
        outline: 0px !important;
        text-decoration: none;
    }
}

.btn-transparent {
    background-color: rgba(black, .4);
    color: #fff;

    &:hover {
        background-color: rgba(black, .5);
        color: #fff;
    }

    .fa {
        font-size: 11px;
        margin-left: 9px;
    }
}

.btn-lg {
    padding: 16px 30px;
}

.btn-xs {
    padding: 6px 12px;
}

.a_link, .a_link:focus {
     background:none!important;
     color: $color-primary;
     text-decoration: none;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}