.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs > li > a:hover {
    border-color: $color-primary;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: $color-primary;
    color: $text-secondary;
}

.nav-tabs {
    border-bottom: none;
}

