.owl-carousel {
  border: 1px solid $color-primary;
}

.owl-nav {
    text-align: right;
    margin-top: 0px;
    border: 1px solid $color-primary;
}

.owl-item {
    width: 150px;
    height: 150px;
    border: 1px dotted $color-secondary;
}

.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: $color-secondary;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    }

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
    }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
  }
  
.owl-theme .owl-nav [class*='owl-']:hover {
    background-color: $color-primary;
    color: #FFF;
    text-decoration: none;
}

.customNav,  {
  position:absolute;
  min-height:150px;   /* This needs to be set to the height of the images within the carousel */
}

.owl-prev {
    display: none;
    visibility:  hidden;
    float:right;
    top: 40px;
    margin-right: 0.9375rem;
}

.owl-next {
    float:left;
    position:absolute;
    top: 50%;
    margin-right: 0.9375rem;
    transform: translateX(-100%) translateY(-50%);
    &:hover {
      color: $color-primary;
    }
}