.pager {
    margin: 60px 0px 0px 0px;

    ul {
        margin: 0px;
        padding: 0px;
    }

    li {
        margin: 0px 4px;

        a {
            border-color: $color-gray;
            color: $color-gray-darker;
            padding: 6px 15px;
            transition: all .15s linear;

            &:hover {
                background-color: $color-secondary;
                color: #fff;
            }
        }

        &.active {
            a {
                background-color: $color-primary;
                border-color: $color-primary;
                color: #fff;
            }
        }
    }
}

.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
    cursor: default;
}