.partners {
    @extend .clearfix;
    padding: 40px 0px;
    background-color: $color-secondary;

    a {
        display: inline-block;
        float: left;
        opacity: .8;
        vertical-align: middle;
        text-align: center;
        transition: all .15s linear;
        vertical-align: middle;
        width: 25%;

        &:hover {
            opacity: 1 !important;
        }

        @media (max-width: $screen-xs-max) {
            margin: 0px 0px 30px 0px;
            width: 100%;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    
    .icon-holder {
        max-height: 170px;
        overflow: hidden;
    }
    
    img {
        //filter: grayscale(100%);
        //-webkit-filter: grayscale(100%);
        max-width: 80%;
        min-width: 80%;
    }

    &:hover {
        a {
            opacity: .55;
        }
    }
}

.text-over {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

a.text-over:hover {
    text-decoration: none;
}