.splash-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    position: relative;
    background-image: url('../img/splash.jpg')

}

.splash-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #fff;
}

.splash-login {
    position: absolute;
    right: 20px;
    top: 10px;
}