{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <div id="left-menu">
                <ul class="no-bullets">
                    <li><a href="{% url 'messages_inbox' %} ">{% trans "Inbox" %}</a></li>
                    <li><a href="{% url 'messages_outbox' %} ">{% trans "Sent Messages" %}</a></li>
                    <li><a href="{% url 'messages_compose' %} ">{% trans "New Message" %}</a></li>
                    <li><a href="{% url 'messages_trash' %} ">{% trans "Trash" %}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            <div class="boxed-content">
                {% block message-content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
