{% extends "django_messages/base.html" %}
{% load i18n %}

{% block message-content %}
<h1>{% trans "Compose Message"%}</h1>
<form action="" method="post">
{% csrf_token %}
    <table style="width:100%">
        {{form.as_table}}
    </table>
    <input type="submit" value="{% trans "Send" %}" class="btn btn-primary"/>
</form>

{% endblock %}
