{% extends "django_messages/base.html" %}
{% load i18n %}

{% block message-content %}
<h1>{% trans "Inbox" %}</h1>
{% if message_list %}
<table class="messages" id="messages" style="width:100%">
    <thead>
        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
        <tr><th colspan=4><br></th></tr>
    </thead>
    <tbody>
{% for message in message_list %}
    <tr class="row-border">
        <td>{{ message.sender.first_name }}</td>
        <td>
            {% if message.new %}<strong>{% endif %}
            {% if message.replied %}<em>{% endif %}
            <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
            {% if message.replied %}</em>{% endif %}
            {% if message.new %}</strong>{% endif %}</td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url 'messages_delete' message.id %}">{% trans "delete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#messages').DataTable();
} );
</script>
{% endblock %}