{% extends "django_messages/base.html" %}
{% load i18n %}

{% block message-content %}
<h1>{% trans "View Message" %}</h1>
<table class="message-headers">
    <tr>
        <td>{% trans "Subject" %} </td>
        <td><strong>{{ message.subject }}</strong></td>
    </tr>
    <tr>
        <td>{% trans "Sender" %} </td>
        <td>{{ message.sender.first_name }}</td>
    </tr>
    <tr>
        <td>{% trans "Date" %} </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</td>
    </tr>
    <tr>
        <td>{% trans "Recipient" %} </td>
        <td>{{ message.recipient.first_name }}</td>
    </tr>
</table>
<h2>Message</h2>
{{ message.body|linebreaksbr }}<br /><br />

{% ifequal message.recipient.pk user.pk %}
<a href="{% url 'messages_reply' message.id %}">{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url 'messages_delete' message.id %}" class="pull-right">{% trans "Delete" %}</a>

{% comment %}Example reply_form integration
{% if reply_form %}
<h1>{% trans "Compose reply"%}</h1>
<form action="{% url 'messages_reply' message.id %}" method="post">
{% csrf_token %}
<table>
{{ reply_form.as_table }}
</table>
<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form>
{% endif %}
{% endcomment %}
{% endblock %}