/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Anton);
/*=== MIXINS ===*/
/*=== MEDIA QUERY ===*/
.booking-steps-indicator {
  padding-top: 15px; }

@media (min-width: 480px) {
  .booking-steps-indicator {
    padding-top: 60px; } }

@media only screen and (min-width: 1000px) {
  .booking-steps-indicator {
    padding-top: 0px; } }

.booking-steps-indicator .steps {
  margin-top: 40px;
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0; }

.booking-steps-indicator .steps .steps-step {
  padding: 0;
  position: relative;
  float: left; }

.percent33 {
  width: 33%; }

.percent25 {
  width: 25%; }

.percent20 {
  width: 20%; }

.booking-steps-indicator .steps .steps-step .steps-info {
  color: #555555;
  font-size: 8px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .booking-steps-indicator .steps .steps-step .steps-info {
    font-size: 11px; }
  .van {
    width: 100px; } }

@media (min-width: 992px) {
  .booking-steps-indicator .steps .steps-step .steps-info {
    font-size: 14px; }
  .van {
    width: 150px; } }

.booking-steps-indicator .steps .steps-step .steps-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: transparent;
  color: #555555;
  text-align: center;
  top: 25px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  z-index: 1;
  font-size: 14px;
  padding-top: 6px; }

.booking-steps-indicator .steps .steps-step .steps-dot:before {
  content: ' ';
  width: 27px;
  height: 27px;
  background: #555555;
  border-radius: 50px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -1; }

.booking-steps-indicator .steps .steps-step .progress {
  background-color: #555555;
  position: relative;
  border-radius: 0px;
  height: 8px;
  height: 2px;
  box-shadow: none;
  margin: 25px 0; }

.booking-steps-indicator .steps .steps-step .progress .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #555555;
  color: color-gray-dark; }

.booking-steps-indicator .steps .steps-step.complete > .progress > .progress-bar {
  width: 100%;
  background-color: color-gray-dark; }

.booking-steps-indicator .steps .steps-step.complete .steps-dot {
  color: #FFF; }

.booking-steps-indicator .steps .steps-step.complete .steps-dot:before {
  background-color: color-gray-dark; }

.booking-steps-indicator .steps .steps-step.complete .steps-info {
  color: color-gray-dark; }

.van {
  position: absolute;
  top: -60px;
  width: 200px;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  -webkit-transform: translateX(-50%) translateY(0%); }

.steps-cost {
  position: absolute;
  top: 0px;
  left: 25%;
  transform: translateX(-50%) translateY(0%);
  -webkit-transform: translateX(-50%) translateY(0%); }

@media (max-width: 992px) {
  .van {
    top: -35px;
    width: 150px; }
  .steps-cost {
    top: 10px;
    left: 32%; } }

@media (max-width: 768px) {
  .van {
    top: -20px;
    width: 100px; }
  .steps-cost {
    left: 40%;
    top: 10px; } }

.booking-steps-indicator .steps .steps-step.active > .progress > .progress-bar {
  width: 50%;
  background-color: color-gray-dark; }

.booking-steps-indicator .steps .steps-step.active .steps-dot {
  color: #FFF; }

.booking-steps-indicator .steps .steps-step.active .steps-dot:before {
  background: #d1855d; }

.booking-steps-indicator .steps .steps-step.active .steps-info {
  color: #d1855d; }

.booking-steps-indicator .steps .steps-step:first-child > .progress {
  left: 50%;
  width: 50%; }

.booking-steps-indicator .steps .steps-step:first-child.active > .progress > .progress-bar {
  width: 0%; }

.booking-steps-indicator .steps .steps-step:last-child > .progress {
  width: 50%; }

.booking-steps-indicator .steps .steps-step:last-child.active > .progress > .progress-bar {
  width: 100%; }

.booking-steps-indicator .steps .steps-step.disabled .progress {
  background-color: #555555; }

.booking-steps-indicator .steps .steps-step.disabled .steps-dot {
  background-color: #777777;
  box-shadow: inset 0px 0px 2px #000; }

.booking-steps-indicator .steps .steps-step.disabled .steps-dot:before {
  background: transparent; }

.booking-steps-indicator .steps .steps-step.disabled .steps-dot:after {
  opacity: 0; }

.booking-steps-indicator .steps .steps-step.disabled a.steps-dot {
  pointer-events: none; }

.booking-container {
  color: #d1855d;
  text-align: center; }
  .booking-container h1 {
    text-align: center;
    size: 2em;
    text-transform: uppercase; }
  .booking-container h3 {
    text-align: center; }

.btn-primary {
  color: white;
  background-color: #d1855d;
  border-color: #d1855d;
  font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 10px; }
  .btn-primary:focus, .btn-primary.focus {
    color: white;
    background-color: #c36838;
    border-color: #884827; }
  .btn-primary:hover {
    color: white;
    background-color: #c36838;
    border-color: #bc6435; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    background-color: #c36838;
    border-color: #bc6435; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: white;
      background-color: #a85930;
      border-color: #884827; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus {
    background-color: #d1855d;
    border-color: #d1855d; }
  .btn-primary .badge {
    color: #d1855d;
    background-color: white; }

.btn-xl {
  color: white;
  background-color: #d1855d;
  border-color: #d1855d;
  font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  border-color: #d1855d; }
  .btn-xl:focus, .btn-xl.focus {
    color: white;
    background-color: #c36838;
    border-color: #884827; }
  .btn-xl:hover {
    color: white;
    background-color: #c36838;
    border-color: #bc6435; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    color: white;
    background-color: #c36838;
    border-color: #bc6435; }
    .btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus,
    .open > .btn-xl.dropdown-toggle:hover,
    .open > .btn-xl.dropdown-toggle:focus,
    .open > .btn-xl.dropdown-toggle.focus {
      color: white;
      background-color: #a85930;
      border-color: #884827; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus,
  fieldset[disabled] .btn-xl:hover,
  fieldset[disabled] .btn-xl:focus,
  fieldset[disabled] .btn-xl.focus {
    background-color: #d1855d;
    border-color: #d1855d; }
  .btn-xl .badge {
    color: #d1855d;
    background-color: white; }

.btn-inverse {
  border-color: #4b786a;
  color: #4b786a;
  background-color: #fff; }

.btn-inverse:hover {
  border-color: #4b786a;
  color: #fff;
  background-color: #4b786a; }

.btn-block-xl {
  padding: 20px 40px; }

.btn-login {
  color: #fff !important;
  font-weight: bold !important;
  font-size: large; }
  .btn-login:hover {
    color: #4b786a !important; }

.category {
  height: 80px;
  border: solid 3px #d1855d;
  border-radius: 10px;
  margin: 5px 5px; }
  .category a, .category a:hover, .category a:active, .category a:focus {
    color: #555555;
    text-decoration: none; }
  .category .icon-holder, .category .info-holder {
    display: inline-block;
    padding: 5px 5px;
    vertical-align: middle; }
    .category .icon-holder .icon, .category .info-holder .icon {
      width: 48px; }
  .category .tooltip-holder, .category .fontawesome-holder {
    display: inline-block; }
  .category .fontawesome-holder {
    position: absolute;
    right: 35px; }
  .category h3 {
    text-align: center;
    color: #d1855d;
    text-shadow: 1px 1px #555555; }
    .category h3 a {
      color: #d1855d; }
  .category .hover-content {
    display: none; }
  .category:hover .hover-content {
    display: block; }
  .category .info-holder .category-title {
    font-size: 20px;
    line-height: 1; }
  .category .info-holder .project-count {
    line-height: 0; }

.banner-img {
  margin-top: -20px;
  width: 100%;
  max-height: 200px;
  overflow: hidden; }
  .banner-img img {
    width: 100%; }

.pupil {
  height: 120px;
  font-size: 120%;
  padding: 5px 10px; }
  .pupil .title {
    color: #d1855d;
    font-size: 120%; }
    .pupil .title a {
      color: #d1855d; }
  .pupil .highlight {
    font-weight: bold;
    font-size: 140%; }
  .pupil hr {
    margin: 0 0;
    border-top: 1px solid #e8c1ac; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.bottom-border {
  border-bottom: 1px solid #555555; }

.pt0 {
  padding-top: 0; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.primary-color {
  color: #d1855d; }

.secondary-color {
  color: #4b786a; }

.donate-input::before {
  content: "£";
  font-weight: 600;
  position: relative;
  color: #d1855d;
  z-index: 1;
  font-size: 18px;
  left: 5px;
  top: 30px; }

.donate-input {
  text-align: left; }

.donation-amount {
  padding-left: 20px; }

.donate-options {
  padding: 20px 0px;
  border-radius: 2px; }
  .donate-options :hover {
    cursor: pointer; }

.no-bullet, .list-unstyled {
  margin-left: 0;
  list-style: none;
  text-indent: 0; }

.list-unstyled {
  list-style-type: none;
  margin-left: 0; }

.donate-menu {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  list-style-type: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .donate-menu li {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .donate-menu .donate-option {
    padding: .7em;
    min-width: 25%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #777777; }
    .donate-menu .donate-option a, .donate-menu .donate-option a:active {
      text-decoration: none;
      color: #777777; }
  .donate-menu .active {
    background-color: #d1855d;
    color: #fff; }
    .donate-menu .active a {
      color: #fff; }

/* Features */
.f-box {
  text-align: center;
  cursor: default; }

.f-icon i {
  font-size: 3em;
  color: #fff;
  background: #d1855d;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: #e8c1ac 5px solid;
  border-radius: 50%;
  padding: 30px;
  width: 110px; }

.f-box .feature-head {
  margin: 25px auto 20px;
  font-size: 1.5em;
  border-top: #555555 1px solid;
  padding-top: 20px;
  color: #777777; }

.f-box .feature-text {
  font-size: 15px;
  color: #fff;
  line-height: 22px;
  font-weight: bold; }

.f-box:hover .f-icon i {
  background: #4b786a; }

#features {
  background: #777777; }

footer {
  padding: 25px 0;
  background-color: #fff;
  text-align: center;
  border-top: 4px solid #4b786a; }
  footer span.copyright {
    line-height: 40px;
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none; }
  footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none; }
  footer p.footer {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 10px;
    font-size: x-small;
    text-align: left;
    line-height: 1.0; }

.fa, .fab, .far {
  color: #4b786a;
  background-color: transparent; }
  .fa:hover, .fab:hover, .far:hover {
    color: #d1855d; }

.fa-inverse {
  color: #d1855d; }

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.text-muted {
  color: #777777; }

.text-primary {
  color: #d1855d; }

p {
  font-size: 16px;
  line-height: 1.75; }

.bold {
  font-weight: 700;
  font-size: 140%; }

@media (max-width: 480px) {
  .bold {
    font-size: 100%; } }

p.large {
  font-size: 18px; }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none; }

a {
  color: #4b786a; }

a:hover,
a:focus,
a:active,
a.active {
  color: #37594e; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

h1 .edit-link, h3 .edit-link {
  font-size: 8px; }

.img-centered {
  margin: 0 auto; }

.bg-light-gray {
  background-color: #eeeeee; }

.bg-darkest-gray {
  background-color: #222222; }

img.facebook-connect {
  max-width: 30vw; }

@media (min-width: 768px) {
  img.facebook-connect {
    max-width: 15vw; } }

.page-wrapper {
  min-height: 90vh; }

@media (min-width: 768px) {
  .page-wrapper {
    min-height: 90vh; } }

section {
  padding: 50px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px; }

@media (min-width: 768px) {
  section {
    padding: 50px 0; } }

header {
  position: relative;
  background-image: url();
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  min-height: calc(90vh - 120px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white; }
  header .intro-text {
    padding-top: 1vh;
    padding-bottom: 20px; }
    header .intro-text .intro-lead-in {
      font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 25px;
      color: #4b786a; }
    header .intro-text .intro-exit {
      font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
      color: #4b786a; }
    header .intro-text .intro-heading {
      font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
      color: #4b786a; }
  header .tickertape {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    background-color: #d1855d;
    width: 100%;
    padding: 10px 40px; }
    header .tickertape p {
      font-size: 18px;
      font-weight: 500; }

@media (max-width: 480px) {
  header .intro-heading {
    font-size: 30px;
    line-height: 30px; }
  header .tickertape {
    position: relative;
    margin-top: 10px; }
  header .btn-xl {
    margin-top: 10px; } }

@media (min-width: 768px) {
  header .intro-text .intro-lead-in {
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 25px; }
  header .intro-text .intro-heading {
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px; }
  header .intro-text .intro-exit {
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
    color: #4b786a; } }

/*================= INTEREST SECTION ==================*/
.interestArea {
  background-color: #eeeeee; }

.interestContent {
  width: 100%;
  height: 170px;
  display: block;
  border: 1px solid #d1855d;
  border-radius: 4px;
  text-align: center;
  position: relative;
  color: #555555;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-bottom: 10px; }
  .interestContent span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .interestContent span i {
      display: inline-block;
      font-size: 43px;
      color: #4b786a;
      margin-bottom: 20px;
      width: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .interestContent:hover {
    background-color: #d1855d;
    border-color: #d1855d; }
    .interestContent:hover span {
      color: #fff; }
      .interestContent:hover span i {
        color: #fff; }
  @media (min-width: 768px) {
    .interestContent {
      margin-bottom: 30px; } }
  .interestContent img.icon {
    width: 48px; }

.listing-header {
  font-size: 50px;
  padding-top: 2vh;
  padding-bottom: 2vh; }

.progress {
  height: 40px; }

.progress-below {
  margin-top: -15px;
  margin-bottom: 50px; }

.progress-above {
  margin-top: 50px; }

.listing-menu {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  list-style-type: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-align: center;
  -webkit-padding-start: 0px; }
  .listing-menu li {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-bottom: 5px solid #7cad9e; }
    .listing-menu li a {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 150%;
      display: block;
      padding: .7rem 1rem;
      line-height: 1;
      color: #555555;
      margin-bottom: 0px;
      padding-bottom: .85rem; }
    .listing-menu li a:focus {
      text-decoration: none; }
    .listing-menu li a:hover {
      border-bottom-color: #4b786a;
      text-decoration: none;
      color: #7cad9e; }
  .listing-menu li.active, .listing-menu li:hover {
    border-bottom-color: #4b786a; }
  .listing-menu span {
    background-color: #eeeeee; }

.listing-menu--expand li {
  -ms-flex: 1 1 0px;
  flex: 1 1 0; }

.listing-list {
  border: 1px solid #eeeeee;
  padding: 3px 3px;
  height: 350px;
  overflow: hidden; }
  .listing-list a, .listing-list a:hover, .listing-list a:active, .listing-list a:focus {
    color: #555555;
    text-decoration: none; }
  .listing-list .icon-holder {
    height: 150px;
    overflow: hidden; }
  .listing-list .info-holder {
    height: 150px;
    overflow: hidden; }
  .listing-list .listing-icon {
    width: 100%; }
  .listing-list .listing-title {
    font-size: 20px;
    margin-bottom: 0px; }
  .listing-list .listing-description {
    font-size: 12px; }
  .listing-list .stats-holder {
    position: absolute;
    bottom: 3px;
    left: 0px;
    padding: 0px 20px;
    width: 100%; }
    .listing-list .stats-holder .progress {
      height: 5px; }
    .listing-list .stats-holder .stats-text {
      margin-top: -15px;
      text-align: center;
      font-size: 12px; }

.supporterArea {
  height: 430px;
  overflow-y: auto; }

.navbar-custom {
  background-color: #fff;
  border-color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
  .navbar-custom .navbar-brand {
    color: #4b786a;
    font-family: 'Anton', sans-serif; }
    .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
      color: #37594e; }
  .navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.98); }
  .navbar-custom .navbar-toggle {
    background-color: #d1855d;
    border-color: #d1855d;
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 10px; }
    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
      background-color: #4b786a; }
  .navbar-custom .nav li a {
    font-weight: 400;
    color: #4b786a; }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
      color: #4b786a;
      outline: none; }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #4b786a; }
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #37594e; }
  .navbar-custom span.bold {
    font-weight: 700; }

@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    .navbar-custom .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .navbar-custom .navbar-nav > .active > a {
      border-radius: 3px; } }

@media (min-width: 768px) {
  .navbar-custom2 {
    background-color: #eeeeee; } }

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #fff;
    padding: 10px 0; }
    .navbar-custom.affix .navbar-brand {
      font-size: 1.5em; } }

img.menu-logo {
  max-width: 150px;
  margin-top: -15px;
  max-height: 50px; }

pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #d1855d;
  border-color: #d1855d; }

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #d1855d;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }

div.pledge-box {
  margin-top: 20px;
  display: block;
  padding: 20px 20px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #e8c1ac;
  text-decoration: none;
  color: #000; }
  div.pledge-box .pledge-amount {
    font-size: 18px; }
    div.pledge-box .pledge-amount span {
      color: #d1855d; }
  div.pledge-box .pledge-title {
    font-size: 22px;
    color: #d1855d; }
  div.pledge-box p {
    font-size: 12px; }

.search-banner {
  background: linear-gradient(to bottom right, #4b786a, #fff);
  height: 150px;
  width: 100%;
  margin-top: -20px;
  vertical-align: middle;
  padding-top: 60px; }

.search-input {
  height: 50px;
  font-size: 20px; }

.search-item {
  border: 1px solid #eeeeee;
  padding: 10px 10px;
  margin-bottom: 5px;
  border-radius: 10px; }

.search-title {
  color: #4b786a;
  font-size: 22px; }

.search-image {
  width: 100%;
  padding-bottom: 10px; }

.search-category {
  list-style-type: none;
  padding-left: 5px;
  font-size: 18px;
  color: #4b786a; }
  .search-category :hover, .search-category .active {
    background-color: #4b786a;
    color: #fff; }

@media (max-width: 768px) {
  .search-banner {
    padding-top: 30px; } }

/* Team */
#team {
  border-bottom: none; }

#team .team .team-members {
  margin: 30px auto 0; }

.team-members .member {
  margin: 15px auto;
  cursor: default;
  overflow: hidden; }

.team-members .member .member-inner {
  position: relative; }

.team-members .member a.team-image {
  display: block;
  width: 100%;
  height: 270px;
  z-index: 2; }

.team-members .member a.team-image img {
  width: 100%; }

.inner-details .member-details {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  padding: 15px;
  bottom: 100%;
  margin: 0;
  z-index: 3;
  opacity: 0.9;
  background: #d1855d;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.inner-details .member-details .member-details-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }

/* Team Names, Descriptions */
.team-members .member-details .member-name {
  color: #fff;
  margin-top: 0;
  padding-top: 0;
  font-size: 30px; }

.team-members .member-details .member-position {
  color: #d1855d;
  font-size: 13px; }

.team-members .member-details .member-description {
  color: #fff;
  font-size: 13px; }

/* Team Socials */
.member .member-details .member-details-inner .socials {
  margin: 10px auto 0; }

.member .member-details .member-details-inner .socials a {
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background: #777777;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%; }

/* Team Rollover */
.team-members .member:hover .member-details {
  bottom: 0; }

.member .member-details .member-details-inner .socials a:hover {
  background: #000;
  border-radius: 50%; }

.pricing {
  background-color: #fff;
  border: 1px solid #d1855d;
  color: #d1855d;
  padding: 25px;
  text-align: center;
  min-height: 320px;
  overflow: hidden;
  margin-bottom: 20px; }

.pricing-plus {
  min-height: 370px; }
  .pricing-plus a, .pricing-plus button {
    position: absolute;
    bottom: 0px;
    transform: translateX(-50%) translateY(0%);
    -webkit-transform: translateX(-50%) translateY(0%); }
  .pricing-plus button {
    bottom: 35px; }

.pricing-title {
  font-size: 20px;
  margin: 0px 0px 5px 0px; }

.pricing-subtitle {
  color: #333333; }

.pricing-price {
  font-size: 40px;
  margin: 25px 0px 30px 0px; }

.pricing-list {
  list-style: none;
  padding: 0px; }

.pricing-action {
  border-bottom: 1px solid #d1855d;
  color: #884827;
  display: inline-block;
  margin-bottom: 15px;
  transition: all .15s linear; }

.project-wrapper {
  float: left;
  display: block;
  height: 250px;
  color: #fff;
  text-align: center; }

.project-internal {
  background: #4b786a;
  padding: 10px;
  float: left;
  margin-right: 25px;
  max-height: 220px;
  word-wrap: break-word;
  -ms-word-wrap: break-word; }
  .project-internal .featured-image {
    width: 230px;
    height: 240px;
    overflow: hidden; }

.project-header {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  -webkit-transform: translateX(-50%) translateY(0%); }

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: DodgerBlue; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.cards-wrapper {
  margin-bottom: -30px; }

.card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
  margin: 0px 0px 30px 0px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .card.card-tall {
    height: 630px; }
  .card:before {
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 50%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 50%);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: all ease .35s;
    width: 100%; }
  .card:after {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0px;
    content: '';
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1; }
  .card:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  .card:hover .card-content {
    padding-top: 0px; }
  .card:hover .card-meta {
    opacity: 1;
    height: 40px; }
  .card:hover .card-actions {
    opacity: 1; }

.card-background img {
  height: auto;
  width: 100%; }

.card-content {
  left: 50%;
  padding: 0px 30px;
  padding-top: 60px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transition: all ease .35s;
  width: 100%;
  z-index: 2; }
  .card-content h2 {
    color: #fff;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 5px; }
    .card-content h2 a {
      color: #fff;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
      .card-content h2 a:hover {
        text-decoration: none; }

.card-rating {
  color: yellow;
  font-size: 15px;
  transition: all ease .35s; }
  .card-rating i {
    margin: 0px 2px; }

.card-meta {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all ease .35s; }

.card-actions {
  color: #fff;
  opacity: 0;
  margin-top: 20px;
  text-align: center;
  transition: all ease .35s; }
  .card-actions .fa {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    height: 32px;
    margin: 0px 6px;
    padding-top: 8px;
    transition: all ease .2s;
    width: 32px; }
    .card-actions .fa:hover {
      background-color: #fff;
      color: #000; }
    .card-actions .fa.marked {
      background-color: #fff;
      color: #000; }
      .card-actions .fa.marked.fa-heart-o:before {
        color: red;
        content: "\f004"; }
      .card-actions .fa.marked.fa-bookmark-o:before {
        color: #d1855d;
        content: "\f02e"; }
  .card-actions .fa-search {
    font-size: 18px;
    height: 40px;
    padding-top: 9px;
    width: 40px; }

.card-label {
  background-color: #4b786a;
  color: #fff;
  left: 50%;
  font-size: 13px;
  padding: 3px 15px;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 2; }
  .card-label a {
    color: #fff; }
    .card-label a:hover {
      color: #fff;
      text-decoration: none; }

.cards-simple-wrapper {
  margin-bottom: auto; }

.card-simple {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-backface-visiblity: hidden;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transform: translateZ(0px); }
  .card-simple .card-simple-home-price {
    opacity: 0; }
  .card-simple:hover {
    /*.card-simple-actions {
            opacity: 1;
            transition-duration: .5s;
            transform: translateX(0%) translateY(150%);
            -webkit-backface-visiblity: hidden;
        }*/ }
    .card-simple:hover .card-simple-background:before {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      -webkit-backface-visiblity: hidden; }
    .card-simple:hover .card-simple-label {
      /*margin-top: -25px;*/ }
    .card-simple:hover .card-simple-content {
      padding-top: 0px;
      transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -webkit-backface-visiblity: hidden; }
    .card-simple:hover .card-simple-rating {
      opacity: 1;
      transition-delay: .05s;
      -webkit-backface-visiblity: hidden; }
    .card-simple:hover .card-simple-home-price {
      transition-duration: .5s;
      opacity: 1; }
    .card-simple:hover .card-simple-price {
      opacity: 1;
      transition-duration: .5s; }

.card-simple-background {
  height: 300px;
  position: relative; }
  .card-simple-background img {
    width: 100%; }
  .card-simple-background:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 75%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: all ease .35s; }
  .card-simple-background:after {
    background-color: transparent;
    bottom: 0px;
    content: '';
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1; }

.card-simple-label {
  background-color: #4b786a;
  color: #fff;
  left: 50%;
  font-size: 13px;
  padding: 3px 15px;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transition: all ease .35s;
  z-index: 2; }
  .card-simple-label a {
    color: #fff; }
    .card-simple-label a:hover {
      color: #fff;
      text-decoration: none; }

.card-simple-content {
  left: 50%;
  /*padding-top: 85px; //30px + 55px (rating + actions height)*/
  position: absolute;
  top: 55%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transition: all ease .35s;
  width: 100%;
  z-index: 2;
  height: 100%; }
  .card-simple-content h2 {
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 0px;
    /*overflow: hidden;*/
    padding: 0px 20px;
    text-align: center;
    text-overflow: ellipsis;
    opacity: 0;
    /*white-space: nowrap;*/ }
    .card-simple-content h2 a {
      color: #fff;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
      .card-simple-content h2 a:hover {
        text-decoration: none;
        opacity: 1; }
  .card-simple-content p {
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 0px;
    overflow: hidden;
    padding: 0px 20px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap; }

.card-simple-rating {
  color: yellow;
  margin-top: 10px;
  opacity: 0;
  font-size: 15px;
  text-align: center;
  transition: all ease .35s; }
  .card-simple-rating i {
    margin-right: 2px; }

.card-simple-actions {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #4b786a;
  margin-top: 0px;
  text-align: center;
  transition: all ease .35s;
  z-index: 2; }
  .card-simple-actions .fa {
    border-radius: 50%;
    background-color: #4b786a;
    color: #fff;
    height: 32px;
    margin: 0px 6px;
    padding-top: 8px;
    transition: all ease .2s;
    width: 32px; }
    .card-simple-actions .fa:hover {
      background-color: #fff;
      color: #4b786a; }

.card-simple-price {
  opacity: 0;
  background-color: #d1855d;
  bottom: 0px;
  color: #fff;
  font-size: 13px;
  left: 50%;
  padding: 3px 15px;
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  white-space: nowrap;
  z-index: 2; }

.card-row {
  background-color: #fff;
  margin: 0px 0px 30px 0px; }
  .card-row:last-child {
    margin-bottom: 0px; }

.card-row-inner {
  display: table;
  width: 100%; }

.card-row-image, .card-row-body, .card-row-properties {
  display: table-cell;
  vertical-align: top; }
  @media (max-width: 991px) {
    .card-row-image, .card-row-body, .card-row-properties {
      display: block; } }

.card-row-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  position: relative;
  width: 262px; }
  @media (max-width: 991px) {
    .card-row-image {
      width: 100%; } }

.card-row-body {
  padding: 30px; }

.card-row-properties {
  padding: 30px 30px 30px 30px;
  width: 360px; }
  @media (max-width: 991px) {
    .card-row-properties {
      padding: 0px 30px 30px 30px;
      width: 100%; } }

.card-row-title {
  font-size: 18px;
  margin: 0px 0px 20px 0px;
  padding: 0px; }
  .card-row-title a {
    color: #000; }

.card-row-properties dl {
  margin: 0px;
  padding: 0px; }

.card-row-properties dd {
  float: left;
  line-height: 36px; }

.card-row-properties dt {
  border-bottom: 1px dashed #555555;
  line-height: 36px;
  text-align: right; }
  .card-row-properties dt:last-child {
    border-bottom: 0px; }

.card-row-rating {
  color: yellow; }

.card-row-label {
  background-color: #4b786a;
  color: #fff;
  left: 50%;
  font-size: 13px;
  padding: 3px 15px;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 2; }
  .card-row-label a {
    color: #fff; }
    .card-row-label a:hover {
      color: #fff;
      text-decoration: none; }

.card-row-price {
  background-color: #d1855d;
  bottom: 0px;
  color: #fff;
  font-size: 13px;
  left: 50%;
  padding: 3px 15px;
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  white-space: nowrap;
  z-index: 2; }

.card-row-image-rating {
  top: 50px;
  color: yellow;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 2; }

.card-row-image-actions {
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 2;
  color: #fff !important;
  background-color: transparent;
  position: absolute; }
  .card-row-image-actions .fa {
    color: #fff;
    background-color: #d1855d;
    border-radius: 50%;
    padding: 10px; }

.cards-system {
  margin: 0px -15px -30px -15px; }

.card-system {
  float: left;
  margin: 0px 0px 30px 0px;
  padding: 0px 15px;
  width: 50%; }
  @media (max-width: 767px) {
    .card-system {
      width: 100%; } }
  @media (min-width: 1200px) and (max-width: 1500px) {
    .card-system {
      width: 100%; } }

.card-system-inner {
  background-color: rgba(0, 0, 0, 0.02); }

.card-system-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 137px;
  position: relative;
  width: 137px; }
  .card-system-image a {
    bottom: 0px;
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px; }
  @media (max-width: 479px) {
    .card-system-image {
      height: 120px;
      float: none;
      width: 100%; } }

.card-system-content {
  margin-left: 157px; }
  @media (max-width: 479px) {
    .card-system-content {
      margin: 0px;
      padding: 0px 20px 20px 20px; } }
  .card-system-content h2 {
    color: #000;
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .card-system-content h2 a {
      color: #000; }
      .card-system-content h2 a:hover {
        color: #d1855d; }
  .card-system-content h3 {
    color: #222222;
    font-size: 12px;
    margin: 7px 0px 30px 0px !important; }

.card-small {
  background-color: #fff;
  margin: 0px 0px 20px 0px;
  padding: 10px; }
  .card-small:before, .card-small:after {
    content: " ";
    display: table; }
  .card-small:after {
    clear: both; }

.card-small-image {
  float: left; }
  .card-small-image img {
    width: 80px; }

.card-small-content {
  margin-left: 90px; }
  .card-small-content h3 {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .card-small-content h3 a {
      color: #777777; }
  .card-small-content h4 {
    font-size: 11px;
    margin: 5px 0px 0px 0px; }
    .card-small-content h4 a {
      color: #222222; }

.card-small-price {
  color: #d1855d;
  font-size: 12px;
  font-weight: 400;
  margin: 7px 0px 0px 0px; }

.sidebar {
  position: fixed;
  top: 25%; }

.listing-thumbnail {
  max-width: 200px; }

.sales-image {
  max-width: 100%;
  max-height: 60vh;
  margin-bottom: 5px; }

img.sold-image {
  max-width: 100%;
  max-height: 60vh;
  margin-top: -60vh; }

.sales-image-small {
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  object-fit: cover; }

#mainImage {
  min-height: 60vh;
  text-align: center;
  vertical-align: middle; }

.listing-detail-title::after {
  height: 2px;
  display: block;
  width: 50px;
  background: #d1855d;
  content: '';
  margin-top: 13px; }
  .listing-detail-title::after::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.profile-image {
  width: 250px;
  height: auto; }

.a_link, .a_link:focus {
  background: none !important;
  color: #4b786a;
  text-decoration: none;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer; }

img.featured {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #4b786a; }

body {
  background-color: #eeeeee6b; }

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

@media (min-width: 767px) {
  .youtube_video {
    height: 400px; } }

.service-heading {
  margin: 15px 0;
  text-transform: none; }

#howitworks .portfolio-item {
  margin: 0 0 15px;
  right: 0; }
  #howitworks .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    text-decoration: none !important; }
    #howitworks .portfolio-item .portfolio-link .portfolio-hover {
      background: rgba(209, 133, 93, 0.1);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s; }
      #howitworks .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      #howitworks .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        position: absolute;
        width: 100%;
        height: 20px;
        font-size: 20px;
        text-align: center;
        top: 0%;
        margin-top: -12px;
        color: #d1855d; }
        #howitworks .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        #howitworks .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #howitworks .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  #howitworks .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px; }
    #howitworks .portfolio-item .portfolio-caption h4 {
      text-transform: none;
      margin: 0; }
    #howitworks .portfolio-item .portfolio-caption p {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 16px;
      margin: 0; }

#howitworks * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #d1855d;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }

.team-member {
  text-align: center;
  margin-bottom: 50px; }
  .team-member img {
    margin: 0 auto;
    border: 7px solid white; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

aside.clients img {
  margin: 50px auto; }

section#contact {
  background-color: #222222;
  background-image: url("../img/map-image.png");
  background-position: center;
  background-repeat: no-repeat; }
  section#contact .section-heading {
    color: white; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 236px; }
  section#contact .form-control:focus {
    border-color: #d1855d;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #eeeeee; }
  section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #eeeeee; }
  section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #eeeeee; }
  section#contact :-ms-input-placeholder {
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #eeeeee; }
  section#contact .text-danger {
    color: #e74c3c; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    display: block;
    background-color: #4b786a;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
      background-color: #d1855d; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none; }

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto; }

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center; }
  .portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em; }
  .portfolio-modal .modal-content p {
    margin-bottom: 30px; }
  .portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px; }
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0; }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  .portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
    .portfolio-modal .close-modal .lr .rl {
      height: 75px;
      width: 1px;
      background-color: #222222;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052; }

.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none; }

::-moz-selection {
  text-shadow: none;
  background: #d1855d; }

::selection {
  text-shadow: none;
  background: #d1855d; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  webkit-tap-highlight-color: #d1855d; }

table {
  width: 90%; }

.errorlist {
  color: #4b786a; }

ul.checkin-button li {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
  width: 250px;
  border: 1px solid #d1855d;
  text-align: left;
  background-color: #d1855d;
  color: #fff;
  text-align: center; }

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  font-size: inherit; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  padding: 15px 15px;
  font-size: 16px;
  min-width: 300px; }

#piechart {
  width: 100%;
  height: 100%; }

@media (min-width: 768px) {
  #piechart {
    width: 400px;
    height: 300px; } }

@media (min-width: 992px) {
  #piechart {
    width: 600px;
    height: 500px; } }

.centered-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .centered-image-text p {
    color: #fff;
    font-size: 40px;
    font-family: "Nunito", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.toast-success {
  background-color: #4b786a; }

.menu-select {
  color: purple;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  border: none;
  background-color: #fff; }
