.booking-steps-indicator {
    padding-top: 15px
}

@media (min-width: 480px) {
    .booking-steps-indicator {
        padding-top:60px
    }
    
}

@media only screen and (min-width: 1000px) {
    .booking-steps-indicator {
        padding-top: 0px
    }
}

.booking-steps-indicator .steps {
    margin-top: 40px;
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0
}

.booking-steps-indicator .steps .steps-step {
    padding: 0;
    position: relative;
    float: left
}

.percent33 {
    width: 33%
}

.percent25 {
    width: 25%
}

.percent20 {
    width: 20%
}

.booking-steps-indicator .steps .steps-step .steps-info {
    color: $gray;
    font-size: 8px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .booking-steps-indicator .steps .steps-step .steps-info {
        font-size:11px
    }
    .van {
        width: 100px
    }
}

@media (min-width: 992px) {
    .booking-steps-indicator .steps .steps-step .steps-info {
        font-size:14px
    }
    .van {
        width: 150px
    }
}

.booking-steps-indicator .steps .steps-step .steps-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: transparent;
    color: $gray;
    text-align: center;
    top: 25px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    z-index: 1;
    font-size: 14px;
    padding-top: 6px
}

.booking-steps-indicator .steps .steps-step .steps-dot:before {
    content: ' ';
    width: 27px;
    height: 27px;
    background: $gray;
    border-radius: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: -1
}

.booking-steps-indicator .steps .steps-step .progress {
    background-color: $gray;
    position: relative;
    border-radius: 0px;
    height: 8px;
    height: 2px;
    box-shadow: none;
    margin: 25px 0
}

.booking-steps-indicator .steps .steps-step .progress .progress-bar {
    width: 0px;
    box-shadow: none;
    background: $gray;
    color: color-gray-dark
}

.booking-steps-indicator .steps .steps-step.complete>.progress>.progress-bar {
    width: 100%;
    background-color: color-gray-dark
}

.booking-steps-indicator .steps .steps-step.complete .steps-dot {
    color: #FFF
}

.booking-steps-indicator .steps .steps-step.complete .steps-dot:before {
    background-color: color-gray-dark
}

.booking-steps-indicator .steps .steps-step.complete .steps-info {
    color: color-gray-dark
}

.van {
    position: absolute;
    top: -60px;
    width:200px;
    left:50%;
    transform: translateX(-50%) translateY(-0%);
    -webkit-transform: translateX(-50%) translateY(-0%);
}

.steps-cost{
    position: absolute;
    top: 0px;
    left:25%;
    transform: translateX(-50%) translateY(0%);
    -webkit-transform: translateX(-50%) translateY(0%);
}

@media (max-width: 992px) {
    .van {
        top: -35px;
        width: 150px
    }
    .steps-cost {
        top:10px;
        left:32%;
    }
}

@media (max-width: 768px) {
    .van {
        top: -20px;
        width: 100px;
    }
    .steps-cost {
        left:40%;
        top: 10px;
    }
}


.booking-steps-indicator .steps .steps-step.active>.progress>.progress-bar {
    width: 50%;
    background-color: color-gray-dark
}

.booking-steps-indicator .steps .steps-step.active .steps-dot {
    color: #FFF;
}

.booking-steps-indicator .steps .steps-step.active .steps-dot:before {
    background: $theme-primary
}

.booking-steps-indicator .steps .steps-step.active .steps-info {
    color: $theme-primary
}

.booking-steps-indicator .steps .steps-step:first-child>.progress {
    left: 50%;
    width: 50%
}

.booking-steps-indicator .steps .steps-step:first-child.active>.progress>.progress-bar {
    width: 0%
}

.booking-steps-indicator .steps .steps-step:last-child>.progress {
    width: 50%
}

.booking-steps-indicator .steps .steps-step:last-child.active>.progress>.progress-bar {
    width: 100%
}

.booking-steps-indicator .steps .steps-step.disabled .progress {
    background-color: $gray
}

.booking-steps-indicator .steps .steps-step.disabled .steps-dot {
    background-color: $gray-light;
    box-shadow: inset 0px 0px 2px #000
}

.booking-steps-indicator .steps .steps-step.disabled .steps-dot:before {
    background: transparent
}

.booking-steps-indicator .steps .steps-step.disabled .steps-dot:after {
    opacity: 0
}

.booking-steps-indicator .steps .steps-step.disabled a.steps-dot {
    pointer-events: none
}

.booking-container {
    color: $theme-primary;
    text-align: center;
    h1 {
        text-align: center;
        size: 2em;
        text-transform: uppercase;
    }
    h3 {
        text-align: center;
    }   
}
