// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 10px;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    border-color: $theme-primary;
}

.btn-inverse {
    border-color: $theme-secondary;
    color: $theme-secondary;
    background-color: $white;
}

.btn-inverse:hover {
    border-color: $theme-secondary;
    color: $white;
    background-color: $theme-secondary;
}

.btn-block-xl {
    padding: 20px 40px;
}

.btn-login  {
    color: $white !important;
    font-weight: bold !important;
    font-size: large;

    &:hover {
        color: $theme-secondary !important;
    }
}
