.category {
    height: 80px;
    border: solid 3px $theme-primary;
    border-radius: 10px;
    margin: 5px 5px;

    a, a:hover, a:active, a:focus {
        color : $gray;
        text-decoration: none;
    }
    .icon-holder, .info-holder {
        display : inline-block;
        padding : 5px 5px;
        vertical-align: middle;
        
        .icon {
            width: 48px;
        }
    }

    .tooltip-holder, .fontawesome-holder  {
        display : inline-block;

    }
    .fontawesome-holder {
        position: absolute;
        right: 35px;
    }

    h3 {
        text-align: center;
        color: $theme-primary;
        text-shadow: 1px 1px $gray;

        a {
            color: $theme-primary
        }
    }

    .hover-content {
        display: none;
    }
    
    &:hover {
        .hover-content {
            display: block;
        }    
    }

    .info-holder {
        .category-title {
            font-size : 20px;
            line-height: 1;
        }
        .project-count {
            line-height: 0;
        }
    }

}

.banner-img {
    margin-top: -20px;
    width: 100%;
    max-height: 200px;
    overflow: hidden;

    img {
        width:100%;
    }
}

.pupil {
    height: 120px;
    //overflow: hidden;
    font-size: 120%;
    padding: 5px 10px;

    .title {
        color : $theme-primary;
        //padding-top: 10px;
        font-size: 120%;

        a {
            color: $theme-primary;
        }
    }

    .highlight {
        font-weight: bold;
        font-size: 140%;
    }
    hr {
        margin: 0 0 ;
        border-top: 1px solid $theme-primary-lighten;
    }
}