.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bottom-border {
    border-bottom: 1px solid $gray;
}

.pt0 {
    padding-top:0;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.primary-color {
    color: $theme-primary;
}
.secondary-color {
    color: $theme-secondary;
}