.donate-input::before {
    content: "£";
    font-weight: 600;
    position: relative;
    color: $theme-primary;
    z-index: 1;
    font-size: 18px;
    left: 5px;
    top: 30px;
}

.donate-input {
    text-align: left;
}

.donation-amount {
    padding-left: 20px;
}

.donate-options {
    padding: 20px 0px;
    border-radius: 2px;
    :hover {
        cursor: pointer;
    }
}

.no-bullet, .list-unstyled {
    margin-left: 0;
    list-style: none;
    text-indent: 0;
}
.list-unstyled {
    list-style-type: none;
    margin-left: 0;
}

.donate-menu {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    list-style-type: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    li {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .donate-option {
        padding: .7em;
        min-width: 25%;
        text-align: center;
        font-size: 16px;
        border: 1px solid $gray-light;
        a, a:active {
            text-decoration: none;
            color: $gray-light;
        }
    }
    .active {
        background-color: $theme-primary;
        color: $white;
        a {
            color: $white;
        }
    }
}

