/* Features */
	
.f-box{
    text-align:center;
    cursor: default;
    //margin:60px auto 0;
}

.f-icon i{
    font-size:3em;
    color: $white;
    background:$theme-primary;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: $theme-primary-lighten 5px solid;
    border-radius:50%;
    padding:30px;
    width:110px;
}

.f-box .feature-head{
    margin: 25px auto 20px;
    font-size: 1.5em;
    border-top: $gray 1px solid;
    padding-top:20px;
    color: $gray-light;
}

.f-box .feature-text{
    font-size:15px;
    color:$white;
    line-height:22px;
    font-weight: bold;
}

.f-box:hover .f-icon i {
    background: $theme-secondary;
}

#features{
    background: $gray-light;
}
