// Footer

footer {
    padding: 25px 0;
    background-color: $white;
    text-align: center;
    border-top: 4px solid $theme-secondary;

    span.copyright {
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    p.footer {
        @include body-font;
        padding-top:10px;
        font-size: x-small;
        text-align: left;
        line-height: 1.0;
    }
}
