// Global Components

body {
    overflow-x: hidden;
    @include body-font;
}

.text-muted {
    color: $gray-light;
}

.text-primary {
    color: $theme-primary;
}

p {
    font-size: 16px;
    line-height: 1.75;
    
}

.bold {
    font-weight: 700;
    font-size: 140%;
}
@media (max-width: $mobile) {
    .bold {
        font-size: 100%;
    }
}

p.large {
    font-size: 18px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: $theme-secondary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-secondary, 10%);
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

h1, h3 {
    .edit-link {
        font-size:8px;
    }
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

img.facebook-connect {
    max-width: 30vw;
}

@media(min-width:768px) {
    img.facebook-connect {
        max-width: 15vw;
    }
}


.page-wrapper {
    //padding-top: 15px;
    min-height: 90vh;
}

@media(min-width:768px) {
    .page-wrapper {
        //padding-top: 15px;
        min-height: 90vh;
    }
}

// Global Section Styles

section {
    padding: 50px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 50px 0;
    }
}