header {
    position: relative;
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    min-height: calc(90vh - 120px);
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 1vh;
        padding-bottom: 20px;
        .intro-lead-in {
            @include heading-font;
            //font-style: italic;
            font-size: 26px;
            line-height: 26px;
            margin-bottom: 25px;
            color: $theme-secondary;

        }
        .intro-exit {
            @include heading-font;
            //font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
            color: $theme-secondary;

        }        
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
            color: $theme-secondary;
        }
    }
    .tickertape {
        position: absolute;
        bottom: 0px;
        left: 0px;
        color: $white;
        background-color: $theme-primary;
        width: 100%;
        padding: 10px 40px;
        p {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

@media(max-width: $mobile) {
    header {
        .intro-heading {
            font-size: 30px;
            line-height: 30px;
        }
        .tickertape {
            position: relative;
            margin-top: 10px;
        }
        .btn-xl {
            margin-top: 10px;
        }
    }
}


@media(min-width:768px) {
    header {
        .intro-text {
            .intro-lead-in {
                @include heading-font;
                //font-style: italic;
                font-size: 26px;
                line-height: 26px;
                margin-bottom: 25px;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 25px;
            }
            .intro-exit {
                @include heading-font;
                //font-style: italic;
                font-size: 22px;
                line-height: 22px;
                margin-bottom: 25px;
                color: $theme-secondary;   
            }        
        }
    }
}

