/*================= INTEREST SECTION ==================*/
.interestArea{
	background-color: $gray-lighter;
}

.interestContent{
	width: 100%;
	height: 170px;
	display: block;
	border: 1px solid $theme-primary;
	border-radius: 4px;

	text-align: center;
	position: relative;
	color: $gray;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	span{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include transition(all 0.3s ease-in-out);
		i{
			display: inline-block;
			font-size: 43px;
			color: $theme-secondary;
			margin-bottom: 20px;
			width: 100%;
			@include transition(all 0.3s ease-in-out);
		}
	}
	&:hover{
		background-color: $theme-primary;
		border-color: $theme-primary;
		span{
			color: $white;
			i{
				color: $white;
			}
		}
	}
	@include tablet{
		margin-bottom: 30px;
	}
	img.icon {
		width: 48px;
	}
}