.listing-header {
    font-size: 50px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.progress {
    height: 40px;
}

.progress-below {
    margin-top: -15px;
    margin-bottom: 50px;
}

.progress-above {
    margin-top: 50px;
}

.listing-menu {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    list-style-type: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: center;
    -webkit-padding-start: 0px;
    li {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        border-bottom: 5px solid $theme-secondary-lighten;
        a {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 150%;
            display: block;
            padding: .7rem 1rem;
            line-height: 1;
            color: $gray;
            margin-bottom: 0px;
            padding-bottom: .85rem;
        }
        a:focus {
            text-decoration: none;
        }
        a.active, a:hover {
        
        }
        a:hover {
            border-bottom-color: $theme-secondary;
            text-decoration: none;
            color: $theme-secondary-lighten;
        }
    }
    li.active, li:hover {
        border-bottom-color: $theme-secondary;
    }

    span {
        background-color: $gray-lighter;
    }
}

.listing-menu--expand {
    li {
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    }
}

// Listing Lists formatting

.listing-list {
    border: 1px solid $gray-lighter;
    padding: 3px 3px;
    height: 350px;
    overflow: hidden;

    a, a:hover, a:active, a:focus {
        color: $gray;
        text-decoration: none;
    }

    .icon-holder {
        height: 150px;
        overflow: hidden;
    }
    .info-holder {
        height: 150px;
        overflow: hidden;
    }

    .listing-icon {
        width: 100%
    }

    .listing-title {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .listing-description {
        font-size: 12px;
    }

    .stats-holder {
        position: absolute;
        bottom: 3px;
        left: 0px;
        padding: 0px 20px;
        width: 100%;

        .progress {
            height: 5px;
        }

        .stats-text {
            margin-top: -15px;
            text-align: center;
            font-size: 12px;
        }
    }
}

.supporterArea {
    height: 430px;
    overflow-y: auto;
}