// Custom Navigation Bar

.navbar-custom {
    background-color: $white;
    border-color: $white;
    border-bottom: 1px solid $white;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    .navbar-brand {
        color: $theme-secondary;
        @include anton;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-secondary, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include heading-font;
        color: white;
        font-size: 10px;
        &:hover,
        &:focus {
            background-color: $theme-secondary;
        }
    }
    .nav {
        li {
            a {
                //@include heading-font;
                font-weight: 400;
                //letter-spacing: 1px;
                color: $theme-secondary;
                &:hover,
                &:focus {
                    color: $theme-secondary;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $theme-secondary;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($theme-secondary, 10%);
    }
    span.bold {
        font-weight: 700;
    }
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
}

@media(min-width: 768px) {
    .navbar-custom2 {
        background-color: $gray-lighter;
    }
}

// Navbar Change on Scroll

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: $white;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}


// Navbar Image
img.menu-logo {
    max-width: 150px;
    margin-top: -15px;
    max-height: 50px;
}