div.pledge-box {
    margin-top: 20px;
    display: block;
    padding: 20px 20px;
    background-color: $white;
    width: 100%;
    border: 1px solid $theme-primary-lighten;
    text-decoration: none;
    color: $gray-base;

    .pledge-amount {
        font-size: 18px;

        span {
            color: $theme-primary;
        }
    }

    .pledge-title {
        font-size: 22px;
        color: $theme-primary;
    }

    p {
        font-size:12px;
    }
}

