.project-wrapper {
    float: left;
    display: block;
    height: 250px;
    color: #fff;
    text-align: center;
}

.project-internal{
    background: $theme-secondary;
    padding: 10px;
    float: left;
    margin-right: 25px;
    max-height: 220px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;

    .featured-image {
        width: 230px;
        height: 240px;
        overflow: hidden;
    }
}

.project-header {
    text-align:center;
    display:block;
    position: absolute;
    bottom: 25px;
    left:50%;
    transform: translateX(-50%) translateY(0%);
    -webkit-transform: translateX(-50%) translateY(0%);
}
