.search-banner {
    background: linear-gradient((to bottom right, $theme-secondary, $white));
    height: 150px;
    width: 100%;
    margin-top: -20px;
    vertical-align: middle;
    padding-top: 60px;
}

.search-input {
    //padding: 10px 10px;
    //margin: 20px 20px;
    height : 50px;
    font-size: 20px;
}

.search-item {
    border: 1px solid $gray-lighter;
    padding: 10px 10px;
    margin-bottom: 5px;
    border-radius: 10px;

}

.search-title {
    color: $theme-secondary;
    font-size: 22px
}
.search-image {
    width: 100%;
    padding-bottom: 10px;
}

.search-category {
    list-style-type: none;
    padding-left: 5px;
    font-size: 18px;
    color: $theme-secondary;
    :hover, .active {
        background-color: $theme-secondary;
        color: $white;
    }

}

@media(max-width: $tablet) {
    .search-banner {
        padding-top: 30px;
    }
}