.sidebar {
    position: fixed;
    top:25%;
}

.listing-thumbnail {
    max-width:200px;
}


.sales-image {
    max-width: 100%;
    max-height: 60vh;
    margin-bottom: 5px;
}

img.sold-image {
    max-width: 100%;
    max-height: 60vh;
    margin-top: -60vh;    
}

.sales-image-small {
    max-width: 100px;
    max-height: 100px;
    min-height:100px;
    object-fit: cover;
}

#mainImage {
    min-height: 60vh;
    text-align: center;
    vertical-align: middle;
}

.listing-detail-title::after {
    height: 2px;
    display: block;
    width: 50px;
    background: $theme-primary;
    content: '';
    margin-top: 13px;

    &::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.profile-image {
    width: 250px;
    height: auto;
}

.a_link, .a_link:focus {
    background:none!important;
    color: $color-secondary;
    text-decoration: none;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

img.featured {
    width: 100%
}