.pricing {
    background-color: #fff;
    border: 1px solid $theme-primary;
    color: $theme-primary;
    padding: 25px;
    text-align: center;
    min-height: 320px;
    overflow: hidden;
    margin-bottom: 20px;
}

.pricing-plus {
    min-height: 370px;
    a, button {
        position: absolute;
        bottom:0px;
        transform: translateX(-50%) translateY(-0%);
        -webkit-transform: translateX(-50%) translateY(-0%);
    }
    button {
        bottom: 35px;
    }
}


.pricing-title {
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}

.pricing-subtitle {
    color: $gray-dark;
}

.pricing-price {
    font-size: 40px;
    margin: 25px 0px 30px 0px;
}

.pricing-list {
    list-style: none;
    padding: 0px;
}

.pricing-action {
    border-bottom: 1px solid $theme-primary;
    color: darken($theme-primary, 25%);
    display: inline-block;
    margin-bottom: 15px;
    transition: all .15s linear;
}