{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-9 ">
            <h1>Payment Declined</h1>
            <p>We're sorry but your payment has been declined with error</p>
            <p>{{e}}</p>
            <p>Please return to the draft listing and try again.</p>
        </div>
    </div>
</div>


{% endblock %}
