{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-9 ">
            <h1>Payment Received</h1>
            <p>Thank you for your payment.</p>
            <p>You're listing will is now live.</p>
            <p>You will shortly receive an email confirming your listing.  Enjoy.</p>
        </div>
    </div>
</div>


{% endblock %}
