{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-9 ">
            <h1>Subscription Confirmed</h1>
            <p>Thank you for your subscription.</p>
            <p>You're listing - {{listing.name}} is now live.</p>
            <p>You have signed up to the subscription - {{listing.pricelist.name}}</p>
            
        </div>
    </div>
</div>


{% endblock %}
