{% extends 'base.html' %}
{% load static %}
{% load stellatags %}

{% block page_title %}{{ request.META.HTTP_HOST }} - My Listings{% endblock %}
{% block header_class %}header-transparent{% endblock %}

{% block css%}

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            {% include 'partials/left-menu-browse.html' %}
        </div>
        <div class="col-xs-12 col-md-10">
            {% include 'partials/search-buttons.html' %}
            <div class="boxed-content">
                <div class="cards-simple-wrapper">
                    <div class="row">
                        {% if listings|length == 0 %}<h1 class="center">Oh snap!  We have no listings matching your search!</h1>{% endif %}
                        <!-- add featured if page 1 -->
                        {% if not listings.has_previous %}
                            {% for l in featured %}
                                {% if forloop.counter < 9 %}
                                    {% include 'partials/item-box.html' %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div id="all-my-items">
                        {% for l in listings %}
                            {% include 'partials/item-box.html' %}
                        {% endfor %}
                        </div>
                        
                        
                    </div><!-- /.row -->
                </div><!-- /.cards-simple-wrapper -->
                {% include 'partials/listings-paginator.html' %}
            </div>
        </div>
    </div><!-- /.content -->
</div><!-- /.container -->
{% endblock %}

{% block scripts %}
{% include 'partials/search-buttons.js' %}
{% endblock %}