{% extends 'base.html' %}
{% load static %}

{% block page_title %} - Contact Us{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-2">
			{% include 'partials/left-menu.html' %}
		</div>
		<div class="col-xs-12 col-md-10">
            <h1>Contact Us</h1>
                
            {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="contact-form-wrapper clearfix">
                        <form class="contact-form" method="post" action=".">
                            {{ form.as_p }}{% csrf_token %}
                            <button class="btn btn-primary pull-right">Post Message</button>
                        </form><!-- /.contact-form -->
                    </div><!-- /.contact-form-wrapper -->
                </div>
                    
                <div class="col-sm-6">
                    <h3>We’d love to hear from you</h3>
            
                    <p>
                        Donec congue egestas nisi id varius. Curabitur ullamcorper consectetur risus, eget dapibus lacus. Maecenas sit amet dui dictum, tincidunt ante vel, semper purus. In hac habitasse platea dictumst. Vivamus hendrerit sem a rutrum ornare. Donec vehicula auctor eros. Etiam et enim tellus.
                    </p>
            
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Address</h3>
            
                            <p>
                                Stella Address,<br>
                                Stella State, USA
                            </p>
                        </div><!-- /.col-* -->
            
                        <div class="col-sm-6">
                            <h3>Contacts</h3>
            
                            <p>
                                1900-CO-WORKER<br>
                                1800-3322-4453
                            </p>
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->
                                        
{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}