{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Home{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h1>Frequently Asked Questions</h1>
			<div class="panel-group" id="accordion">
				{% for h in help %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter0}}">{{ h.question }}</a>
						</h4>
					</div>
					<div id="collapse{{forloop.counter0}}" class="panel-collapse collapse">
						<div class="panel-body">
							{{ h.answer }}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<h2>Still have a question? <a href="{% url 'contact-us' %}">Contact Us</a></h2>
			
		</div>
	</div>
</div>
			
{% endblock %}

{% block scripts %}

{% endblock %}