{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Home{% endblock %}

{% block content %}

{% if not user.userprofile.verified %} <center>
<div class="container">
	<div class="row">
		<div class="col-xs-12">	
            <h4 class="bg-warning">You will be verified within 24 hours!  Once verified you will have full access to all functions.  In the meantime you can browse what's on offer.</h4>
		</div>
	</div>
</div></center>
{% endif %}
<center>
<div class="container">
	<div class="row">
		{% for item in featured_category %}
		<center><div class="xs-hidden sm-hidden col-md-4">
			<a href="{% url 'view-category' item.id %}">
			 	<img src="{{ item.photo.url }}" class="featured">
				<span class="center"><h3>Shop {{ item.name }} <i class="fa fa-chevron-right"></i></h3></span>
			</a>
		</div></center>
		{% endfor %}
		
	</div>
</div></center>
<center
<div class="container">
	<div class="row">
		<div class="col-xs-12">	
			<h1>Featured items on your Campus</h1>
		</div>
	</div></center>
</div>	<center>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">	
			<div class="owl-carousel owl-theme" id="owl-carousel1">
				{% if request.user.userprofile.featured|length == 0 %}
				<h2>No featured items on your Campus</h2>
				{% endif %}
				{% for l in request.user.userprofile.featured %}
					{% include 'partials/owl_listing_item.html' %}
				{% endfor %}
			</div>
		</div>
		<!--
		<div class="col-xs-2">
			<div id="customNav1" class="customNav"></div>
		</div>
		-->
	</div>
</div></center>
<center>
<div class="container">
	<div class="row">
		<div class="col-xs-12">	
			<h1>Items you're watching</h1>
		</div>
	</div>
</div>	
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="owl-carousel owl-theme" id="owl-carousel2">
				{% if request.user.userprofile.watch_list|length == 0 %}
				<h2>You're not watching any items</h2>
				{% endif %}
				{% for l in request.user.userprofile.watch_list %}
					{% include 'partials/owl_listing_item.html' %}
				{% endfor %}
			</div>
		</div>
		<!--
		<div class="col-xs-2">
			<div id="customNav2" class="customNav"></div>
		</div>
		-->
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">	
			<h1>Newest added on your campus</h1>
		</div>
	</div>
</div>	
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="owl-carousel owl-theme" id="owl-carousel3">
				{% if request.user.userprofile.school_listings|length == 0 %}
				<h2>No items on your campus</h2>
				{% endif %}
				{% for l in request.user.userprofile.school_listings %}
					{% include 'partials/owl_listing_item.html' %}
				{% endfor %}
			</div>
		</div>
		<!--
		<div class="col-xs-2">
			<div id="customNav3" class="customNav"></div>
		</div>
		-->
	</div>
</div>
			
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
	$('#owl-carousel1').owlCarousel({
		loop:true,
		margin:40,
		nav:true,
		navContainer: '#customNav1',
		navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right fa-2x'></i>"],
		rewindNav:false,
		dots:false,
	    autoplay:true,
		autoplayTimeout:1000,
		autoplayHoverPause:true,
		responsive:{
			0:{
				items:2
			},
			600:{
				items:4
			},
			1000:{
				items:6
			}
		}
	});
});

$(document).ready(function(){
	$('#owl-carousel2').owlCarousel({
		loop:true,
		margin:40,
		nav:true,
		navContainer: '#customNav2',
		navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right fa-2x'></i>"],
		rewindNav:false,
		dots:false,
	    autoplay:true,
		autoplayTimeout:1000,
		autoplayHoverPause:true,
		responsive:{
			0:{
				items:2
			},
			600:{
				items:4
			},
			1000:{
				items:6
			}
		}
	});
});

$(document).ready(function(){
	$('#owl-carousel3').owlCarousel({
		loop:true,
		margin:40,
		nav:true,
		navContainer: '#customNav3',
		navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right fa-2x'></i>"],
		rewindNav:false,
		dots:false,
	    autoplay:true,
		autoplayTimeout:1000,
		autoplayHoverPause:true,
		responsive:{
			0:{
				items:2
			},
			600:{
				items:4
			},
			1000:{
				items:6
			}
		}
	});
});

</script>
{% endblock %}M</center>