{% extends 'base.html' %}
{% load static stripe %}

{% block page_title %}{{listing.name}}{% endblock %}

{% block social %}
	<!-- Facebook link info -->
	<meta property="og:url"                content="{{ request.META.HTTP_HOST }}{% url 'listing-detail' listing.id %}" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="{{ listing.name }}" />
	<meta property="og:description"        content="{{ listing.description|safe }}" />
	<meta property="og:image"              content="{{ request.META.HTTP_HOST }}{% with listing.listingimages_set.all|first as image %}{{ image.image.url }}{% endwith %}" />
{% endblock %}

{% block css%}
     <link href="{% static 'css/klair.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-offset-2 col-lg-8">
            <div class="boxed-content ">
                <div class="ml50 mr50 mb30">
                    <h1>Congratulations selling {{ listing.name }}!</h1>
					<p>If you would like to request feedback, please enter the username/email of the purchaser below.</p>
					<form action ="{% url 'listing-sold' listing.id %}" method="post">
						{% csrf_token %}
						{{ reviewRequestForm.as_p }}
						<button type="submit" class="btn btn-primary">{% if listing.review %}Resend Request{% else %}Request Feedback{% endif %}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}