{% extends 'base.html' %}
{% load static stripe stellatags %}

{% block page_title %}{{listing.name}}{% endblock %}

{% block social %}
	<!-- Facebook link info -->
	<meta property="og:url"                content="{{ request.META.HTTP_HOST }}{% url 'listing-detail' listing.id %}" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="{{ listing.name }}" />
	<meta property="og:description"        content="{{ listing.description|safe }}" />
	<meta property="og:image"              content="{{ request.META.HTTP_HOST }}{% with listing.listingimages_set.all|first as image %}{{ image.image.url }}{% endwith %}" />
{% endblock %}

{% block css%}
    
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
		{% if not listing.live and not listing.featured and not listing.sold %}
			<div class="col-xs-12">
				<p class="bg-danger">This is a preview of your listing, please make sure to click "Post"!</p>
			</div>
		{% endif %}

		<div class="col-xs-12 col-md-6">
			{% with listing.listingimages_set.all|first as image %}
				<div id="mainImage" class="sales-image"><img class="sales-image" src="{{ image.image.url }}"></div>
				{% if listing.sold %}
				<div id="soldImage" class="sold-image"><img class="sold-image" src="{% static 'img/sold.png' %}"></div>
				{% endif %}
			{% endwith %}<br>
			{% for i in listing.listingimages_set.all %}
				<img class="sales-image-small" src="{{ i.image.url }}" onclick="javascript:changeImage({{i.id}});">
			{% endfor %}

		</div>
        <div class="col-sm-12 col-md-6">
			<h1 class="listing-detail-title">{{ listing.name }}</h1>
			<table class="listing-detail-title">
				<tr>
					<td><h2>${{listing.price|floatformat:2}}</h2></td>
					<td><a class="fa {% if request.user in listing.watchers.all %}fa-heart{% else %}fa-heart-o{% endif %}" href="{% url 'amend-watch' listing.id %}"></a></td>
				</tr>
				<tr>
					<td><p class="listing-text"><strong>Condition</strong><br />{{ listing.condition }}</p></td>
					<td><p class="listing-text"><strong>Category</strong><br />{{ listing.category }}</p></td>
				</tr>
			</table>
			<br />
			{% if request.user == listing.user %}
				{% if not listing.sold %}
					<a href="{% url 'listing-edit' listing.id %}" class="btn btn-primary">Edit Listing</a>
					{% if listing.featured %}
					<form action="{% url 'process-payment' listing.id %}" method="post" id="payForm">
						<button type="submit" class="btn btn-primary" id="id_makeLive">Pay and Post</button>
					</form>
					{% elif listing.live %}
						<a href="{% url 'make-live' listing.id %}" class="btn btn-primary">Remove Live</a>
						<form action="{% url 'process-payment' listing.id %}" method="post" id="payForm">{% csrf_token %}
							<button type="submit" class="btn btn-primary" id="id_makeLive">Feature for 24 Hours</button>
						</form>
					{% else %}<a href="{% url 'make-live' listing.id %}" class="btn btn-primary">Post</a>
					{% endif %}
					<a href="{% url 'listing-sold' listing.id %}" class="btn btn-primary">Sold It!</a>
				{% else %}
				<h1>This item is sold</h1>
				<a href="{% url 'relist-item' listing.id %}" class="btn btn-primary">Relist Item</a>
				{% endif %}
			{% endif %}
			<p>Inappropriate Listing? <a href="javascript:flagItem({{listing.id}},{{user.id}})">Report Listing</a></p>		
			<h2 class="listing-detail-title">Description:</h2>{{ listing.description|safe }}
		    <div class="center">		
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.META.HTTP_HOST }}{% url 'listing-detail' listing.id %}" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
				<a href="https://twitter.com/intent/tweet?text=Check out {{ request.META.HTTP_HOST }}{% url 'listing-detail' listing.id %}&url={{ request.META.HTTP_HOST }}{% url 'listing-detail' listing.id %}" data-size="large" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
				<a href="https://plus.google.com/share?url={{ request.META.HTTP_HOST }}{% url 'listing-detail' listing.id %}" target="_blank"><i class="fa fa-google-plus fa-3x"></i> </a>
				<a href="mailto:?subject={{ listing.name }}&body={{ listing.description }}" target="_top"><i class="fa fa-envelope fa-3x"></i></a>
			</div>
        </div>
	</div>
	<div class="row">
		<div class="col-cs-12 col-md-6">
			<h3>Being sold by: </h3>
			<table style="width:100%">
				<tr>
					<td>{% if listing.user.userprofile.avatar %}<img src="{{ listing.user.userprofile.avatar.url }}" class="profile-image">{% endif %}</td>
					<td>
						<h5>{{ listing.user.first_name }} {{ listing.user.last_name }}</h5>
						<h5>Rating: {{ listing.user.userprofile.rating|floatformat:2 }} / 5 stars from {{ listing.user.userprofile.reviews|length }} review{% if listing.user.userprofile.reviews|length != 1 %}s{% endif %}</h5>
						<h5>Response Time: {{ listing.user.userprofile.response_time.total_seconds|response_time }} </h5>
					</td>
				</tr>
			</table>
			<p class="center"><a href="{% url 'direct-message' listing.user.id listing.id %}" class="btn btn-primary">Message Me</a></p>
			{% if user.userprofile.verified %}	
				{% if listing.email_contact %}<p class="center"><button id='showemail' class="btn btn-primary"><span id='title'>Email me</span><span id="contents">{{ listing.user.email }}</span></button></p>{% endif %}
				{% if listing.phone_contact %}<p class="center"><button id='phone' class="btn btn-primary"><span id='title'>Call/Text me</span><span id="contents">{{ listing.user.userprofile.telephone }}</span></button></p>{% endif %}
			{% endif %}
		</div>
		<div class="col-cs-12 col-md-6">
			<h3>Reviews</h3>
			{% for review in listing.user.userprofile.reviews %}
				<div>
					{{ review.feedback|safe }}
					<p>Rating: {{ review.rating }}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	</div>
</div>

{% endblock %}

{% block scripts %}
{% include 'nocaptcha_recaptcha/script_include.html' with multiple_recaptcha=True %}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

<script>
function changeImage(id) {
	{% for i in listing.listingimages_set.all %}
	if ({{i.id}} == id) {document.getElementById('mainImage').innerHTML = '<img class="sales-image" src="{{ i.image.url }}">'}
	{% endfor %}
}
</script>

<script src="{% static 'js/flag_item.js' %}"></script>
{% endblock %}