{% extends 'base.html' %}
{% load static stellatags %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Listing Submit{% endblock %}
{% block header_class %}header-transparent{% endblock %}

{% block css%}
     <link href="{% static 'css/klair.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <form action="." method='post' enctype="multipart/form-data" onsubmit="if(document.getElementById('id_tandc').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">
            {% csrf_token %}            
            <div class="col-sm-8 col-lg-9">
                <div class="content">
                    <div class="page-title">
                        <h1>Listing Details</h1>
                        {{form.errors}}
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                
                    <div class="background-white p30 mb30">
                        <h3 class="page-title">Description</h3>
                        {{form.media}}{{form.id}}{{form.user}}
                        <div class="form-group">
                            <p>Title</p>
                            {{ form.name.errors }}
                            {{ form.name }}
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <p>Price</p>
                            {{ form.price.errors }}
                            {{ form.price }}
                        </div>
                        <div class="form-group">
                            <p>Condition</p>
                            {{ form.condition.errors }}
                            {{ form.condition }}
                        </div>
                        <div class="form-group">
                            <p>Category</p>
                            {{ form.category.errors }}
                            {{ form.category }}
                            {{ form.category2.errors }}
                            {{ form.category2 }}
                            {{ form.category3.errors }}
                            {{ form.category3 }}
                        </div><!-- /.form-group -->
                        <p>Description</p>
                        <div class="form-group">
                            {{ form.description.errors }}
                            {{ form.description }}
                        </div><!-- /.form-group -->
                        <div class="form-group">      
                            <label for="id_file_field">Upload Images</label><br>
                            {{ file_form.file_field }}
                            <div id="result" ondrop="drop(event)" ondragover="allowDrop(event)">
                                {% for f in listing_images %}
                                    <span><img class="listing-thumbnail" draggable="true" ondragstart="drag(event)" id="drag{{ f.id }}" src="{{ f.image.url }}" ></span>
                                {% endfor %}
                            </div>
                            <div id="rubbishBin" ondrop="rip(event)" ondragover="allowDrop(event)">
                                <i class="fa fa-trash-o fa-4x" aria-hidden="true"></i> <br />
                                <p class="dumble">Drag Image here to erase</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                {{form.phone_contact}}<label for="id_phone_contact">Contact me by cell phone</label>
                                {{form.phone_contact.errors}}<br/>
                                {{form.email_contact}}<label for="id_email_contact">Contact me by school email</label>
                                {{form.email_contact.errors}}
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<div class="checkbox">
                                {{form.safe_exchange}}<label for="id_safe_exchange">I have read and understand the <a href="{% url 'safe-exchange' %}" target="_blank">safe ways to exchange</a> rules and tips.</label>
                                {{form.safe_exchange.errors}}
                            </div>-->
                            <div class="checkbox">
                                {{form.tandc}}<label for="id_tandc">I agree to the <a href="{% url 'terms-conditions' %}" target="_blank">Terms and Conditions.</a></label>
                                {{form.tandc.errors}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{form.recaptcha}}
                            {{form.recaptcha.errors}}
                        </div>
                    </div>
                    
                    <div class="center">
                        {% if listing.live %}
                        <a data-toggle="modal" href="#safeExchangeModal" class="btn btn-primary btn-xl">Save Changes</a>
                        {% else %}
                        <a data-toggle="modal" href="#safeExchangeModal" class="btn btn-primary btn-xl">Preview Listing</a>
                        {% endif %}
                    </div><!-- /.center -->       
                </div><!-- /.content -->
            </div><!-- /.col-* -->
            <div class="col-sm-4 col-lg-3">
                <div class="sidebar">
                    <div class="background-white p30 mb30 boxed-content">
                        <div class="checkbox">
                            <input id="id_featured" class="checkbox" name="featured" type="checkbox">
                            <label for="id_featured">Have your listing featured for 24 hours for $0.99.</label>
                        </div>
                    </div>
                </div><!-- /.sidebar -->
            </div><!-- /.col-* -->
            
            <!-- Modal for Safe Exchange goes here -->
            <div aria-hidden="true" aria-labelledby="safeExchangeModalLabel" role="dialog" tabindex="-1" id="safeExchangeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h6 class="modal-title">Safe Exchange</h6>
                        </div>
                        <div class="modal-body">
                            {% for t in text %}
                            {{ t.text|safe }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary btn-xl">I agree</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<script src="{% static 'js/delete_image.js' %}"></script>
<script>
	//script to load files into
window.onload = function(){
    //Check File API support
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("id_file_field");
        filesInput.addEventListener("change", function(event){
            var files = event.target.files; //FileList object
            var output = document.getElementById("result");
            for(var i = 0; i< files.length; i++)
            {
                var file = files[i];
                //Only pics
                if(!file.type.match('image'))
                  continue;
                var picReader = new FileReader();
                picReader.addEventListener("load",function(event){
                    var picFile = event.target;
                    var div = document.createElement("span");
                    div.innerHTML = "<img class='listing-thumbnail' draggable='true' ondragstart='drag(event)' id='drag"+i+"' src='" + picFile.result + "'" +
                            "title='" + picFile.name + "'/>";
                    output.insertBefore(div,null);            
                });
                 //Read the image
                picReader.readAsDataURL(file);
            }                               
        });
    }
    else
    {
        console.log("Your browser does not support File API");
    }
};

</script>
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
function rip(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
	ev.target.removeChild(document.getElementById(data));
	deleteImage(data);
}
</script>

<script>
    function checkTermsConditions(obj) {
        
    }
    
    if (document.getElementById('id_category').selectedIndex == 0) {
        changeCategory("");
    }
    
    
</script>


{% endblock %}