{% extends 'base.html' %}
{% load static %}
{% load kiddido %}

{% block page_title %}{{ request.META.HTTP_HOST }} - My Listings{% endblock %}
{% block header_class %}header-transparent{% endblock %}

{% block css%}

{% endblock %}

{% block content %}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="content">
                    
                <div class="document-title">
                    <h1>My Listings</h1>
            
                    <ul class="breadcrumb">
                        <li><a href="/">Kiddido</a></li>
                        <li><a href="{% url 'my-listing' user.id %}">My Listing</a></li>
                    </ul>
                </div><!-- /.document-title -->

                <h2 class="page-title">
                    {{listings|length}} results matching your query
                </h2><!-- /.page-title -->

                <div class="cards-row">
                    {% for l in listings %}
                        <div class="card-row">
                            <div class="card-row-inner">
                                <div class="card-row-image" data-background-image="{{ l.image.url }}">
                                    <div class="card-row-label">{{ l.type }}</div><!-- /.card-row-label -->
                                    <div class="card-row-image-rating">
                                        {% with ''|center:l.avg_review as range %}
                                            {% for r in range %}<i class="fa fa-star"></i>{% endfor %}
                                            {% if l.avg_review > range %}<i class="fa fa-star-half-o"></i>{% endif %}
                                        {% endwith %}
                                    </div><!-- /.card-rating -->
                                    <div class="card-row-image-actions">
                                        <a href="{% url 'listing-edit' l.id %}" class="fa fa-info" ></a>
                                    </div><!-- /.card-simple-actions -->
                                    <div class="card-row-price">£{{ l.price|floatformat:2 }}</div><!-- -->
                                </div><!-- /.card-row-image -->

                                <div class="card-row-body">
                                    <h2 class="card-row-title"><a href="{% url 'listing-edit' l.id %}">{{ l.name }}</a></h2>
                                    <div class="card-row-content">
                                        {{ l.description|safe }}
                                    </div><!-- /.card-row-content -->
                                </div><!-- /.card-row-body -->

                                <div class="card-row-properties">
                                    <dl>
                                        <dd>Subscription</dd><dt>{{ l.pricelist }}</dt>
                                        {% if not l.pricelist %}
                                            <a href="{% url 'buy-subscription' l.id %}" class="btn btn-primary">Buy Subsription</a>
                                        {% endif %}
                                    </dl>
                                </div><!-- /.card-row-properties -->
                            </div><!-- /.card-row-inner -->
                        </div><!-- /.card-row -->
                    {% endfor %}
                </div>
            </div><!-- /.content -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->
{% endblock %}