{% extends 'base.html' %}
{% load static %}
{% load stellatags %}

{% block page_title %}{{ request.META.HTTP_HOST }} - My Listings{% endblock %}
{% block header_class %}header-transparent{% endblock %}

{% block css%}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1>My Listings</h1>
            <form method="post" action="{% url 'delete-selected' %}">
                <h2>Active</h2>
                {% csrf_token %}
                <p><a href="javascript:selectAll('featured')">Select All</a> | <button type="submit" class="a_link">Delete Selected</button></p>
                {% for l in listings %}
                    {% if not l.sold %}
                        {% include 'partials/my_listing_item.html' %}
                    {% endif %}
                {% endfor %}
                <h2>Sold</h2>
                {% for l in sold %}
                    {% include 'partials/my_listing_item.html' %}    
                {% endfor %}
                
            </form>

        </div><!-- /.col -->
    </div><!-- /.row-->
</div><!-- /.container -->
{% endblock %}

{% block scripts %}

<script src="{% static 'js/select-all.js' %}"></script>

{% endblock %}