{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Login{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h1 class="center">Tell us what school you're from.</h1>
			<form method='post' action="{% url 'no-institution' %}">
				{% csrf_token %}
				{{form.as_p}}
				<p class="center"><button class="btn btn-primary " type="submit">Send</button></p>
			</form>
			<h1 class="center">Tell your friends to tell us to.  The more we hear from you the faster we'll come.</h1>
		</div>
	</div>
</div>
			
{% endblock %}

