{% extends 'base.html' %}
{% load static %}
{% load stripe %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Listing Payment{% endblock %}
{% block header_class %}header-transparent{% endblock %}

{% block css %}
     <link href="{% static 'css/klair.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
    
{% block content %}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="content">
                <div class="mt-80">
                    <div class="page-header">
                        <h1>Fair Pricing</h1>
                        <p>Our company offers best pricing options for field agents and companies. If you are interested <br>in special plan don't hesitate and contact our <a href="{% url 'contact-us' %}">sales support</a>.</p>
                    </div><!-- /.page-header -->
                    <div class="pricings">
                        <div class="row">
                            {% for p in pricelist %}
                            <div class="col-sm-4">
                                <div class="pricing">
                                    <div class="pricing-title">{{p.name}}</div><!-- /.pricing-title -->
                                    <div class="pricing-subtitle">{{p.description|safe}}</div><!-- /.pricing-subtitle -->
                                    <div class="pricing-price"><span class="pricing-currency">£</span>{{p.price}}</div><!-- /.pricing-price -->
                                    <hr>
                                    <ul class="pricing-list">
                                        {% for benefit in p.benefits.all %}<li>{{benefit}}</li>{% endfor %}
                                    </ul><!-- /.pricing-list -->
                                    <hr>
                                    <a href="#" class="pricing-action">Full List of Features</a>
                                </div><!-- /.pricing -->
                            </div><!-- /.col-* -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div><!-- /.content -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->

{% endblock %}