{% extends 'base.html' %}
{% load static %}
{% load stripe %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Listing Payment{% endblock %}
{% block header_class %}header-transparent{% endblock %}

{% block css %}
     <link href="{% static 'css/klair.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
    
{% block content %}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="content">
                <div class="mt-80">
                    <div class="page-header">
                        <h1>Fair Pricing</h1>
                        <p>Our company offers best pricing options for field agents and companies. If you are interested <br>in special plan don't hesitate and contact our <a href="{% url 'contact-us' %}">sales support</a>.</p>
                    </div><!-- /.page-header -->
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <div class="pricings">
                        <div class="row">
                            {% for p in pricelist %}
                            <div class="col-sm-4">
                                <div class="pricing">
                                    <div class="pricing-title">{{p.name}}</div><!-- /.pricing-title -->
                                    <div class="pricing-subtitle">{{p.description|safe}}</div><!-- /.pricing-subtitle -->
                                    <div class="pricing-price"><span class="pricing-currency">£</span>{{p.price}}</div><!-- /.pricing-price -->
                                    {% if listing.type == 'Event' %}
                                        <form action="{% url 'process-payment' %}" method="POST">
                                            <script
                                                src="https://checkout.stripe.com/checkout.js"
                                                class="stripe-button"
                                                data-email="{{ request.user.email }}"
                                                data-key="{{ stripe_key }}"
                                                data-amount="{{ p.price|pence }}"
                                                data-name="{{ request.META.HTTP_HOST }}"
                                                data-currency="{{ stripe_currency }}"
                                                data-description="{{ p.name }}"
                                                data-locale="auto">
                                            </script>
                                            <input type="hidden" name="listing" value="{{listing.id}}">
                                            <input type="hidden" name="pricelist" value="{{p.id}}">
                                        </form>
                                    {% else %}
                                        <form action="{% url 'apply-subscription' p.id listing.id %}" method="POST">
                                            <script
                                                src="https://checkout.stripe.com/checkout.js"
                                                class="stripe-button"
                                                data-email="{{ request.user.email }}"
                                                data-key="{{ stripe_key }}"
                                                data-amount="{{ p.price|pence }}"
                                                data-name="{{ request.META.HTTP_HOST }}"
                                                data-currency="{{ stripe_currency }}"
                                                data-description="{{ p.name }}"
                                                data-locale="auto">
                                            </script>
                                            <input type="hidden" name="listing" value="{{listing.id}}">
                                            <input type="hidden" name="pricelist" value="{{p.id}}">
                                        </form>
                                        
                                    {% endif %}
                                    <hr>
                                    <ul class="pricing-list">
                                        {% for benefit in p.benefits.all %}<li>{{benefit}}</li>{% endfor %}
                                    </ul><!-- /.pricing-list -->
                                    <hr>
                                    <a href="#" class="pricing-action">Full List of Features</a>
                                </div><!-- /.pricing -->
                            </div><!-- /.col-* -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div><!-- /.content -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->

{% endblock %}