{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% if user.first_name|length < 1 or user.last_name|length < 1 %}
            <div class="boxed-content-red">
                <h4>"Please fill finish filling out your profile so you can view the website! You will be verified within 24 hours!"</h4>
            </div>
            {% endif %}
            <div class="boxed-content">
                <h1>Profile</h1>
                <div class="row">
                    <form method='post' action="{% url 'goto-profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-xs-12 col-md-6">
                            {{userForm.as_p}}
                            <label>Referral Code</label>
                            <input readonly value="{{ request.user.userprofile.referral_code }}" type="text" class="form-control">
                            <label>Referral URL</label>
                            <input readonly value="https://{{ request.META.HTTP_HOST }}{{ request.user.userprofile.referral_url }}" type="text" class="form-control">
                            <label>Verified Referals</label>
                            <input readonly type="text" value="{{ request.user.userprofile.total_referrals }}" class="form-control">
                        </div>
                        <div class="col-xs-12 col-md-6">
                           {{form.as_p}}
                           <img id="avatar" {% if request.user.userprofile.avatar %}src="{{ request.user.userprofile.avatar.url }}"{% endif %} style="width:100%">
                        </div>
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a data-toggle="modal" href="#passwordChangeModal" class="btn btn-default">Change Password</a>
                            {% if request.user.userprofile.coupon_eligable %}
                                <a href="{% url 'create-coupon' %}" class="btn btn-primary">Get Coupon</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <h2>Credit Card Details</h2>
                <div class="row">
                    <form  method="post" action="{% url 'add-payment-details' request.user.id %}">
                        {% csrf_token %}
                        <input hidden name="id" value="{{ request.user.id }}">
                        <div class="col-xs-12">
                            <div class="radio-tab-content">
                                <div class="row radio-form-row">
                                    <div class="col-xs-6">
                                        <input class="form-control" id="nameOnCard" name="nameOnCard" required type="text" placeholder="Cardholder Name">
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="form-control" id="cardNumber" name="cardNumber" placeholder="Credit Card Number" required type="text">
                                    </div>
                                    <div class="col-xs-4">
                                        <input class="form-control" id="expiryMonth" name="expiryMonth" placeholder="Expiry Month" required type="text">
                                    </div>
                                    <div class="col-xs-4">
                                        <input class="form-control" id="expiryYear" name="expiryYear" placeholder="Expiry Year" required type="text">
                                    </div>
                                    <div class="col-xs-4">
                                        <input class="form-control" id="cvv" required name="cvv" type="text" placeholder="CVV">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Card Details</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/password_change.html' %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/read_url.js' %}" type="text/javascript"></script>

{% endblock %}