{% extends 'base.html' %}
{% load static stripe %}

{% block page_title %}{{listing.name}}{% endblock %}

{% block social %}
	<!-- Facebook link info -->
	
{% endblock %}

{% block css%}
     <link href="{% static 'css/klair.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-offset-2 col-lg-8">
            <div class="boxed-content mt30">
                <div class="mt30 ml50 mr50 mb30">
                    <h1>Thank you for your review!</h1>
					<form action ="{% url 'complete_review' review.code %}" method="post">
						{% csrf_token %}
                        {{form.media}}
                        {{form.user}}
                        <div class="row">
                            <div class="form-group col-sm-12">
                                {{form.feedback.label}}
                                {{form.feedback}}
                                {{form.feedback.errors}}
                            </div><!-- /.col-sm-12 -->
                        </div><!-- row -->
                        <div class="row">
                            <div class="form-group input-rating col-sm-12">
                                {{form.rating.label}}
                                <input type="radio" value="1" name="rating" id="id_rating_0" {% if review.rating == 1 %}checked{% endif %}>
                                <label for="id_rating_0"></label>
                                <input type="radio" value="2" name="rating" id="id_rating_1" {% if review.rating == 2 %}checked{% endif %}>
                                <label for="id_rating_1"></label>
                                <input type="radio" value="3" name="rating" id="id_rating_2" {% if review.rating == 3 %}checked{% endif %}>
                                <label for="id_rating_2"></label>
                                <input type="radio" value="4" name="rating" id="id_rating_3" {% if review.rating == 4 %}checked{% endif %}>
                                <label for="id_rating_3"></label>
                                <input type="radio" value="5" name="rating" id="id_rating_4" {% if review.rating == 5 %}checked{% endif %}>
                                <label for="id_rating_4"></label>
                                {{form.rating.errors}}
                            </div><!-- /.col-sm-12 -->
							<button type="submit" class="btn btn-primary">Send Feedback</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}