{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Safe Exchange{% endblock %}
{% block header_class %}header-transparent{% endblock %}

{% block css%}
<link href="{% static 'css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css">
    
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="page-title center">
                        <h1>Safe Exchange</h1>
                    </div><!-- /.page-header -->
                    
                    {% for t in text %}
                    {{ t.text|safe }}
                    {% endfor %}

                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}
