{% extends 'base.html' %}
{% load static %}
{% load stellatags %}

{% block page_title %}{{ request.META.HTTP_HOST }} - My Listings{% endblock %}
{% block header_class %}header-transparent{% endblock %}

{% block css%}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1>My Watch List</h1>
            <form method="post" action="{% url 'stop-watching' %}">
                {% csrf_token %}
                <p><a href="javascript:selectAll('featured')">Select All</a> | <button type="submit" class="a_link">Stop Watching Selected</button></p>
                {% for l in listings %}
                    <div class="row boxed-content mb10">
                        <div class="col-xs-1">
                            <div class="checkbox">
                                <h3>
                                    <input id="id_featured{{l.id}}" class="checkbox" name="featured{{l.id}}" type="checkbox" value="{{l.id}}">
                                    <label for="id_featured{{l.id}}"></label>
                                </h3>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            {% with l.listingimages_set.all|first as image %}<img src="{{ image.image.url }}" style="width:100%">{% endwith %}
                        </div>
                        <div class="col-xs-3">
                            <h3><a href="{% url 'listing-detail' l.id %}">{{ l.name }}</a></h3>
                        </div>
                        <div class="col-xs-3 pull-right">
                            <div class="row">
                                {% if l.live %}
                                <div class="col-xs-6">List time</div>
                                <div class="col-xs-6">
                                    Days: {{ l.id|days_listed }}<br/>
                                    Hours: {{ l.id|hours_listed }}<br />
                                    Minutes: {{ l.id|minutes_listed }}<br />
                                </div>
                                {% else %}
                                <div class="col-xs-12">Not Listed</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                Price: ${{l.price|floatformat:2}}<br />
                                Views: {{l.views}}<br />
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->
{% endblock %}

{% block scripts %}

<script src="{% static 'js/select-all.js' %}"></script>

{% endblock %}