{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ request.META.HTTP_HOST }} - 403 - Access Forbidden{% endblock %}

{% block content %}
<div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="caution">
                        <h1>403</h1>
                        <h2>Access Forbidden</h2>
                    </div><!-- /.page-header -->
                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}
