<!DOCTYPE html>

{% load static stellatags %}

<html>

<head>
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga';);

ga('create', 'UA-104526314-1', 'auto');
ga('send', 'pageview');
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
		<title>{% block page_title %}{% endblock %}</title>
		
		<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'assets/libraries/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/libraries/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css" >

		<link href="{% static 'plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'stella/site/css/site.css' %}" rel="stylesheet" type="text/css" >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/favicon.png' %}">

    {% block css %}{% endblock %}
	
	{% block social %}{% endblock %}
</head>

<body {% block body_class %}{% endblock %}>
	
<!-- You should make sure that the file cookiechoices.js is available
and accessible from the root directory of your site.  -->
{% if not noCookieChoices %}
<script src="{% static 'js/cookiechoices.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    cookieChoices.showCookieConsentDialog('We may use cookies to improve the running of the Site.  By using the Site you are accepting our use of cookies.',
        'close message', '', 'http://example.com');
  });
</script>
{% endif %}

<div class="page-wrapper">
	{% include "menu.html" %}
	{% block sidebar %}{% endblock %}

	{% block content %}{% endblock %}
</div>
	{% include "footer.html"%}

	{% if user.is_authenticated %}
	<!-- Advanced Search  Modal -->
	<div aria-hidden="true" data-backdrop="true" aria-labelledby="advancedSearchModalLabel" role="dialog" tabindex="-1" id="advancedSearchModal" class="modal fade">
		{% advanced_search %}
	</div>
	{% endif %}



<!-- js placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'assets/libraries/owl.carousel/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

{% if messages %}
<script>
	{% for message in messages %}
		{% if message.tags == 'success' %}
		toastr.success('{{message}}');
		{% endif %}
	{% endfor %}
</script>
{% endif %}
<script src="{% static 'js/change_category.js' %}"></script>
<script>
	anyOption = document.createElement("option");
	anyOption.innerHTML = "Any Condition";
	anyOption.value = '';
	document.getElementById('id_conditionAS').insertBefore(anyOption, document.getElementById('id_conditionAS').firstChild);
	document.getElementById('id_conditionAS').selectedIndex = 0;
	document.getElementById('id_categoryAS').selectedIndex = -1;
	changeCategory("AS");
	
	anyOptionLM = document.createElement("option");
	anyOptionLM.innerHTML = "Any Condition";
	anyOptionLM.value = '';
	document.getElementById('id_conditionLM').insertBefore(anyOptionLM, document.getElementById('id_conditionLM').firstChild);
	document.getElementById('id_conditionLM').selectedIndex = 0;
	document.getElementById('id_categoryLM').selectedIndex = -1;
	changeCategory("LM");
</script>
{% block scripts %}
{% endblock %}

</body>
</html>
