{% load static %}
<br />
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% now "Y" as current_year %}
                &copy; Copyright {{ current_year }} All rights reserved. <a href="http://www.hexiawebservices.co.uk">Web development</a> by <a href="http://www.hexiawebservices.co.uk">Hexia Web Services</a>.
            </div>

            <div class="col-xs-12 col-md-6">
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'terms-conditions' %}">Terms &amp; Conditions</a></li>
                    <li><a href="{% url 'contact-us' %}">Contact</a></li>
                </ul><!-- /.nav -->
            </div><!-- /.footer-bottom-right -->
        </div><!-- /.container -->
</footer><!-- /.footer -->
