{% load static inbox stellatags %}

<nav class="navbar navbar-default navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="menu-logo" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><a href="#page-top"></a></li>
                {% if request.user.is_authenticated %}
                    {% for item in menu_category %}
                    <li><a href="{% url 'view-category' item.id %}">{{ item.name }}</a></li>
                    {% endfor %}
                {% endif %}

                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'goto-profile' %}">Profile</a></li>
                            <li><a href="{% url 'messages_inbox' %}">Messages</a></li>
							<li><a href="{% url 'watch-list' %}">Watch List</a></li>
							{% if user.userprofile.verified %}
								<li><a href="{% url 'my-listing' user.id %}">Listings</a></li>
								<li><a href="{% url 'add-listing' %}">Post</a></li>
							{% endif %}
							<li><a href="{% url 'browse' 0 0 0 %}">Browse</a></li>
                            <hr>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% if request.user.is_staff %}
                                <hr>
                                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                        </ul>
                    </li> 
                {% else %}
                    <li><a class="btn btn-primary btn-login" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                
                <li><a href="{% url 'help' %}">Help</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>				

{% block scripts %}
{% endblock %}