{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Login{% endblock %}

{% block content %}


            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="page-title">
                                <h1>Login</h1>
                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Oh snap!</strong> Your username and password didn't match. Please try again.
                                    </div>
                                {% endif %}
                            </div><!-- /.page-title -->
                    
                            <form method="post" action=".">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="login-form-username">Email</label>
                                    <input autofocus="" id="id_username" maxlength="254" name="username" type="text" required="" class="form-control" placeholder="Email">
                                </div><!-- /.form-group -->
                    
                                <div class="form-group">
                                    <label for="login-form-password">Password</label>
                                    <input id="id_password" name="password" type="password" required="" class="form-control" placeholder="Password">
                                </div><!-- /.form-group -->
                    
                                <button type="submit" class="btn btn-primary pull-right">Login</button>
                            </form>
                            <div class="form-group">
                                Forgotten your password? 
                                <a data-toggle="modal" href="#passwordModal"> Reset password</a>
                                <br />
                            </div>
                            <div class="form-group">
                                Need an account?
                                <a class="" href="{% url 'registration_register' %}">Create an account</a>
                            </div>
                        </div><!-- /.col-sm-4 -->
                    </div><!-- /.row -->
                </div><!-- /.content -->
            </div><!-- /.container -->
    
    
<!-- Forgotten Password Modal -->
<div aria-hidden="true" aria-labelledby="myPasswordModalLabel" role="dialog" tabindex="-1" id="passwordModal" class="modal fade">
    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Forgot Password ?</h4>
                </div>
                <div class="modal-body">
                    <p>Enter your e-mail address below to reset your password.</p>
                    <input id="id_email" maxlength="254" name="email" type="email" required="" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>	
            </div>
        </div>
    </form>
</div>
<!-- modal -->
{% endblock %}

{% block scripts %}
<!--<script src="{% static 'js/bootstrap-modal.js' %}" type="text/javascript"></script>-0->
{% endblock %}