{% extends 'base.html' %}
{% block content %}
{% load static from staticfiles %}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-8">
				<h1>Logged Out</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>Please come back soon</p>
        </div>
    </div>    
</div>
{% endblock %}
