{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-8">
				<h1>Reset Password</h1>
			</div>
		</div>
	</div>
</div>

    <section>
        <div class="container white-section">
            <p>{% trans "Email with password reset instructions has been sent." %}</p>
        </div>
    </section>
{% endblock %}