{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
	<form class="form-signin" method="post">{% csrf_token %}
        <h2 class="form-signin-heading">Reset Password</h2>
        <div class="login-wrap">
            {{ form.non_field_errors }}
            <input autofocus = "" id="id_new_password1" name="new_password1" type="password" required="" class="form-control" placeholder="Password">
            {{ form.new_password1.errors }}
            {{ form.new_password1.help_text|safe }}
            <input id="id_new_password2" name="new_password2" type="password" required="" class="form-control" placeholder="Confirm Password">
            {{ form.new_password2.errors }}
            <button class="btn btn-primary" type="submit">Reset</button>
        </div>
	</form>
			
		</div>
	</div>
</div>
{% endblock %}

{% block css %}
	<link href="{% static 'css/dashboard-style.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard-style-responsive.css' %}" rel="stylesheet" />
{% endblock %}