{% extends 'base.html' %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Registration{% endblock %}

{% block content %}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-8">
				<h1>Activation Email</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-offset-3 col-sm-6">
      <p>Registration is nearly complete; you need to activate your account.</p>
      <p>An email has been sent to you to activate the account.  Once you have activate the account you will be able to login from the login page.</p>
      
    </div>
  </div>
</div>

  
{% endblock %}
