<!DOCTYPE html>
{% load compile_static %}
{% load static %}
{#{% load static stellatags %}#}

<html>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    
	<title>Stella - Home Page</title>
		
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/libraries/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/libraries/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'assets/libraries/colorbox/example1/colorbox.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'assets/libraries/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/libraries/bootstrap-fileinput/fileinput.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/listing.css' %}" rel="stylesheet" type="text/css" >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/favicon.png' %}">

    {% block css %}{% endblock %}
	
	{% block social %}{% endblock %}
</head>

<body {% block body_class %}{% endblock %}>
	
<!-- You should make sure that the file cookiechoices.js is available
and accessible from the root directory of your site.  -->
<script src="{% static 'js/cookiechoices.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    cookieChoices.showCookieConsentDialog('We may use cookies to improve the running of the Site.  By using the Site you are accepting our use of cookies.',
        'close message', '', 'http://example.com');
  });
</script>

<div class="page-wrapper">
<div class="splash-wrapper">
    <div class="splash-content">
			<form method="post" action="{% url 'registration_register' %}">
					{% csrf_token %}
					<table>
						<tr>
							<td>
								<input id="id_username" type="hidden" class="form-control" placeholder="Email address" autofocus name="username" required hidden>
								{{ form.username.errors }}
							</td>
						</tr>
						<tr>
							<td>
								<input id="id_email" name="email" type="email" required class="form-control" placeholder="Email">
								{{ form.email.errors }}
							</td>
						</tr>
						<tr>
							<td><input type="password" class="form-control" placeholder="Password" name="password1" required></td>
						</tr>
						<tr>
							<td>
								<input type="password" class="form-control" placeholder="Confirm Password" name="password2" required>
								{{ form.password1.errors }}
								{{ form.password2.errors }}
							</td>
						</tr>
						<tr>
							<td>
								{{ form.institution }}
								{{ form.institution.errors }}
							</td>
						</tr>
						<tr>
							<td>
								<input name="referral_code" type="text" class="form-control" placeholder="Referral Code" {% if referral_code %}value="{{ referral_code }}"  readonly{% endif %}>
							</td>
						</tr>
						<tr>
							<td>
									<label for="id_tos">{{ form.tos.label }}</label>
									<input id="id_tos" name="tos" required="" type="checkbox" style="display:inline;">
							</td>
						</tr>
						<tr><td><button type="submit" class="btn btn-primary center">Register</button></td></tr>
					</table>
			</form>
			<p class="primary-color"></p>
			<p><a href="{% url 'no-institution' %}">Don't see school? Click here</a></p>
		</div>
		<div class="splash-login">
				<a href="{% url 'auth_login' %}" class="button btn-primary">Login</a>
		</div>
</div>
{% block content %}{% endblock %}
{% include "footer.html"%}

<!--{{request.response.latitude}}<br>{{request.response.longitude}}-->
</div><!-- /.page-wrapper -->

<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery.js' %}" type="text/javascript"></script>
<!--<script src="{% static 'assets/js/map.js' %}" type="text/javascript"></script>-->

<script src="{% static 'assets/libraries/bootstrap-sass/javascripts/bootstrap/collapse.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/libraries/bootstrap-sass/javascripts/bootstrap/carousel.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/libraries/bootstrap-sass/javascripts/bootstrap/transition.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/libraries/bootstrap-sass/javascripts/bootstrap/dropdown.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/libraries/bootstrap-sass/javascripts/bootstrap/tooltip.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/libraries/bootstrap-sass/javascripts/bootstrap/tab.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/libraries/bootstrap-sass/javascripts/bootstrap/alert.js' %}" type="text/javascript"></script>

<script src="{% static 'assets/libraries/colorbox/jquery.colorbox-min.js' %}" type="text/javascript"></script>

<script src="{% static 'assets/libraries/flot/jquery.flot.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/libraries/flot/jquery.flot.spline.js' %}" type="text/javascript"></script>

<script src="{% static 'assets/libraries/bootstrap-select/bootstrap-select.min.js' %}" type="text/javascript"></script>



<script type="text/javascript" src="{% static 'assets/libraries/owl.carousel/owl.carousel.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/libraries/bootstrap-fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'assets/js/superlist.js' %}" type="text/javascript"></script>


{% block scripts %}
<script>
$(document).ready(function()
{
  $('#id_email').blur(function(e)
  {
    var email_address = $('#id_email').val();
    $('#id_username').val(email_address);
   });
});
</script>
{% endblock %}

</body>
</html>
