/*=== MEDIA QUERY ===*/
@mixin mobile-xs{
    @media(min-width:320px){
        @content;
    }
}

@mixin mobile{
    @media(min-width:480px){
        @content;
    }
}

@mixin tablet{
    @media(min-width:768px){
        @content;
    }
}

@mixin desktops{
    @media(min-width:992px){
        @content;
    }
}

@mixin large-desktops{
    @media(min-width:1200px){
        @content;
    }
}

$mobile-xs: 320px;
$screen-xs-max: 479px;
$mobile: 480px;
$screen-sm-max:767px;
$tablet: 768px;
$screen-md-max: 991px;
$desktop: 992px;

@mixin clearfix() {
    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }