// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #d1855d;
$theme-primary-lighten : lighten($theme-primary, 20%) !default;
$theme-secondary:  #4b786a;
$theme-secondary-lighten : lighten($theme-secondary, 20%) !default;
$theme-tertiary:   #f3b136;
$theme-danger:     #e74c3c;

$gray-base:			#000 !default;
$gray-darker:		lighten($gray-base, 13.5%) !default; // #222
$gray-dark:			lighten($gray-base, 20%) !default;   // #333
$gray:				lighten($gray-base, 33.5%) !default; // #555
$gray-light:		lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:		lighten($gray-base, 93.5%) !default; // #eee

$cus-gray-background: #eeeeee6b;

$color-black:       #000;
$color-yellow:      yellow;
$color-red:         red;
$color-primary:     $theme-primary;
$color-secondary:   $theme-secondary;
$color-gray-medium: $gray;
$color-gray-darker: $gray-darker;
$color-gray-dark: $gray-dark;
$color-black-light: $gray-light;
$white:             #fff;

